<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='Spring Java Config Spring started life using XML Config to wire beans together. However some folks don&#8217;t like using XML and would rather use Java code which led to the creation of Guice along with the Spring JavaConfig project.
 You can use either the XML or Java config approaches with Camel; its your choice really on which you prefer.
 Using Spring Java Config To use Spring Java Config in your Camel project the easiest thing to do is add the following to your pom.'>

<meta property='og:title' content=' • Apache Camel: Integration that you want'>
<meta property='og:description' content='Spring Java Config Spring started life using XML Config to wire beans together. However some folks don&#8217;t like using XML and would rather use Java code which led to the creation of Guice along with the Spring JavaConfig project.
 You can use either the XML or Java config approaches with Camel; its your choice really on which you prefer.
 Using Spring Java Config To use Spring Java Config in your Camel project the easiest thing to do is add the following to your pom.'>
<meta property='og:url' content='https://camel.apache.org/components/2.20.0/spring-javaconfig/'>
<meta property='og:site_name' content='Apache Camel: Integration that you want'>
<meta property='og:type' content='article'><meta property='article:section' content='Components'>

  <base href='https://camel.apache.org/'>
  <title> • Apache Camel: Integration that you want</title>
  <link rel='canonical' href='https://camel.apache.org/components/2.20.0/spring-javaconfig/'>
  <link href='' rel='alternate' type='application/rss+xml' title='Apache Camel: Integration that you want' />
  <link rel='icon' href='/favicon.ico'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/site.142da777720723dd4ecadc8e70926967.css'>



</head>


<body class='page'>
  <div class='u-full-width u-max-full-width container'>
    <header class='header'>
      <div class='site-header'>
        
        <p class='title'>Apache Camel: Integration that you want</p>
        
        <p>Apache Camel framework for easy integration</p>
      </div>
    </header>

    <nav class='navbar' aria-label='Main Menu'>
  <div class='container'>
    <ul class='navbar-list'>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/about/'>About</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/blog/'>News</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/getting-started/'>Getting started</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/manual/'>Manual</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/components/'>Components</a>
      </li>
      
    </ul>
  </div>
</nav>



<main class='row content'>
  <article lang='en' class='entry'>
    <header class='entry-header'>
  <div class='entry-info'>
    <h1 class='entry-title title'></h1>
    
  </div>
  
<div class='meta'>
  <span class='posted-on'>
    <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
  <line x1="16" y1="2" x2="16" y2="6"/>
  <line x1="8" y1="2" x2="8" y2="6"/>
  <line x1="3" y1="10" x2="21" y2="10"/>
  
</svg>

    <span class='screen-reader'>Posted on </span>
    <time class='date' datetime='0001-01-01T00:00:00Z'>0001, Jan 01</time>
  </span>
  
</div>


</header>

    <div class='entry-content'>
  <div class="sect2">
<h3 id="SpringJavaConfig-SpringJavaConfig">Spring Java Config</h3>
<div class="paragraph">
<p><a href="spring.html">Spring</a> started life using XML Config to wire beans
together. However some folks don&#8217;t like using XML and would rather use
Java code which led to the creation of Guice along with the Spring
JavaConfig project.</p>
</div>
<div class="paragraph">
<p>You can use either the XML or Java config approaches with Camel; its
your choice really on which you prefer.</p>
</div>
<div class="sect3">
<h4 id="SpringJavaConfig-UsingSpringJavaConfig">Using Spring Java Config</h4>
<div class="paragraph">
<p>To use Spring Java Config in your Camel project the easiest thing to do
is add the following to your pom.xml</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;dependency&gt;
  &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
  &lt;artifactId&gt;camel-spring-javaconfig&lt;/artifactId&gt;
  &lt;version&gt;${camel-version}&lt;/version&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>This will then add the dependencies on the Spring JavaConfig library
along with some helper classes for configuring Camel inside Spring.</p>
</div>
<div class="paragraph">
<p>Note that this library is totally optional; you could just wire Camel
together yourself with Java Config.</p>
</div>
</div>
<div class="sect3">
<h4 id="SpringJavaConfig-Configuration">Configuration</h4>
<div class="paragraph">
<p>The most common case of using JavaConfig with Camel would be to create
configuration with defined list of routes to be used by router.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">@Configuration
public class MyRouteConfiguration extends CamelConfiguration {

    @Autowire
    private MyRouteBuilder myRouteBuilder;

    @Autowire
    private MyAnotherRouteBuilder myAnotherRouteBuilder;

    @Override
    public List&lt;RouteBuilder&gt; routes() {
        return Arrays.asList(myRouteBuilder, myAnotherRouteBuilder);
    }

}</code></pre>
</div>
</div>
<div class="paragraph">
<p>Starting from Camel 2.13.0 you can skip the <strong>routes()</strong> definition, and
fall back to the <strong>RouteBuilder</strong> instances located in the Spring context.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">@Configuration
@ComponentScan("com.example.routes")
public class MyRouteConfiguration extends CamelConfiguration {
}</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="SpringJavaConfig-Testing">Testing</h4>
<div class="paragraph">
<p>Since <strong>Camel 2.11.0</strong> you can use the <code>CamelSpringJUnit4ClassRunner</code> with
<code>CamelSpringDelegatingTestContextLoader</code>. This is the recommended way to
test Java Config and Camel integration.</p>
</div>
<div class="paragraph">
<p>If you wish to create a collection of <strong>RouteBuilder</strong> instances then
derive from the <strong>CamelConfiguration</strong> helper class and implement the
<strong>routes()</strong> method. Keep in mind that (starting from the Camel 2.13.0) if
you don&#8217;t override <strong>routes()</strong> method, then <strong>CamelConfiguration</strong> will use
all <strong>RouteBuilder</strong> instances available in the Spring context.</p>
</div>
<div class="paragraph">
<p>The following
<a href="http://svn.apache.org/repos/asf/camel/trunk/components/camel-spring-javaconfig/src/test/java/org/apache/camel/spring/javaconfig/patterns/FilterTest.java">example
using Java Config</a> demonstrates how to test Java Config integration with
Camel 2.10 and lower. Keep in mind that <code>JavaConfigContextLoader</code> is
deprecated and could be removed in the future versions of Camel on the
behalf of the <code>CamelSpringDelegatingTestContextLoader</code>.</p>
</div>
<div class="paragraph">
<p>The <strong>@ContextConfiguration</strong> annotation tells the
<a href="spring-testing.html">Spring Testing</a> framework to load the
<strong>ContextConfig</strong> class as the configuration to use. This class derives
from <strong>SingleRouteCamelConfiguration</strong> which is a helper Spring Java
Config class which will configure the CamelContext for us and then
register the RouteBuilder we create.</p>
</div>
</div>
</div>
</div>

    
<footer class='entry-footer'>
  
    
  
</footer>


  </article>

  
    
<nav class='entry-nav'>
  <div class='entry-nav-links'><div class='prev-entry'>
      <a href='https://camel.apache.org/components/2.20.0/spring-ldap-component/'>
        <span aria-hidden='true'><svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="20" y1="12" x2="4" y2="12"/>
  <polyline points="10 18 4 12 10 6"/>
  
</svg>
 Previous</span>
        <span class='screen-reader'>Previous post: </span></a>
    </div><div class='next-entry'>
      <a href='https://camel.apache.org/components/2.20.0/spring-integration-component/'>
        <span class='screen-reader'>Next post: </span><span aria-hidden='true'>Next <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="4" y1="12" x2="20" y2="12"/>
  <polyline points="14 6 20 12 14 18"/>
  
</svg>
</span>
      </a>
    </div></div>
</nav>


  

  
    <div class='comments-container'>
  
</div>

  
</main>

    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <div class='social'>
          <nav aria-label='Social Menu'>
  <ul class='social-menu'>
  
  </ul>
</nav>

        </div>

        <div class='copyright'>
          <p>
    
      
    
  
  &copy; 2004-2018 The Apache Software Foundation.
</p>
<p>
  Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>

        </div>
      </div>
    </footer>

  </div>

  <script src='/js/site.36395d52b78f93dc7cc7.js'></script>
  

</body>

</html>

