<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='Twitter Components Available as of Camel version 2.10
 The camel-twitter consists of 4 components:
   Twitter Direct Message
  Twitter Search
  Twitter Streaming
  Twitter Timeline
   The Twitter components enable the most useful features of the Twitter API by encapsulating Twitter4J. It allows direct, polling, or event-driven consumption of timelines, users, trends, and direct messages. Also, it supports producing messages as status updates or direct messages.'>

<meta property='og:title' content=' • Apache Camel: Integration that you want'>
<meta property='og:description' content='Twitter Components Available as of Camel version 2.10
 The camel-twitter consists of 4 components:
   Twitter Direct Message
  Twitter Search
  Twitter Streaming
  Twitter Timeline
   The Twitter components enable the most useful features of the Twitter API by encapsulating Twitter4J. It allows direct, polling, or event-driven consumption of timelines, users, trends, and direct messages. Also, it supports producing messages as status updates or direct messages.'>
<meta property='og:url' content='https://camel.apache.org/components/2.20.0/twitter/'>
<meta property='og:site_name' content='Apache Camel: Integration that you want'>
<meta property='og:type' content='article'><meta property='article:section' content='Components'>

  <base href='https://camel.apache.org/'>
  <title> • Apache Camel: Integration that you want</title>
  <link rel='canonical' href='https://camel.apache.org/components/2.20.0/twitter/'>
  <link href='' rel='alternate' type='application/rss+xml' title='Apache Camel: Integration that you want' />
  <link rel='icon' href='/favicon.ico'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/site.142da777720723dd4ecadc8e70926967.css'>



</head>


<body class='page'>
  <div class='u-full-width u-max-full-width container'>
    <header class='header'>
      <div class='site-header'>
        
        <p class='title'>Apache Camel: Integration that you want</p>
        
        <p>Apache Camel framework for easy integration</p>
      </div>
    </header>

    <nav class='navbar' aria-label='Main Menu'>
  <div class='container'>
    <ul class='navbar-list'>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/about/'>About</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/blog/'>News</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/getting-started/'>Getting started</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/manual/'>Manual</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/components/'>Components</a>
      </li>
      
    </ul>
  </div>
</nav>



<main class='row content'>
  <article lang='en' class='entry'>
    <header class='entry-header'>
  <div class='entry-info'>
    <h1 class='entry-title title'></h1>
    
  </div>
  
<div class='meta'>
  <span class='posted-on'>
    <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
  <line x1="16" y1="2" x2="16" y2="6"/>
  <line x1="8" y1="2" x2="8" y2="6"/>
  <line x1="3" y1="10" x2="21" y2="10"/>
  
</svg>

    <span class='screen-reader'>Posted on </span>
    <time class='date' datetime='0001-01-01T00:00:00Z'>0001, Jan 01</time>
  </span>
  
</div>


</header>

    <div class='entry-content'>
  <div class="sect1">
<h2 id="_twitter_components">Twitter Components</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Available as of Camel version 2.10</strong></p>
</div>
<div class="paragraph">
<p>The camel-twitter consists of 4 components:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="twitter-directmessage-component.html">Twitter Direct Message</a></p>
</li>
<li>
<p><a href="twitter-search-component.html">Twitter Search</a></p>
</li>
<li>
<p><a href="twitter-streaming-component.html">Twitter Streaming</a></p>
</li>
<li>
<p><a href="twitter-timeline-component.html">Twitter Timeline</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The Twitter components enable the most useful features of the Twitter
API by encapsulating <a href="http://twitter4j.org/">Twitter4J</a>. It allows direct,
polling, or event-driven consumption of timelines, users, trends, and
direct messages. Also, it supports producing messages as status updates
or direct messages.</p>
</div>
<div class="paragraph">
<p>Twitter now requires the use of OAuth for all client application
authentication. In order to use camel-twitter with your account, you&#8217;ll
need to create a new application within Twitter at
<a href="https://dev.twitter.com/apps/new" class="bare">https://dev.twitter.com/apps/new</a> and grant the application access to
your account. Finally, generate your access token and secret.</p>
</div>
<div class="paragraph">
<p>Maven users will need to add the following dependency to their pom.xml
for this component:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;dependency&gt;
    &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
    &lt;artifactId&gt;camel-twitter&lt;/artifactId&gt;
    &lt;version&gt;${camel-version}&lt;/version&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
<div class="sect2">
<h3 id="_consumer_endpoints">Consumer endpoints</h3>
<div class="paragraph">
<p>Rather than the endpoints returning a List through one single route
exchange, camel-twitter creates one route exchange per returned object.
As an example, if "timeline/home" results in five statuses, the route
will be executed five times (one for each Status).</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 10%;">
<col style="width: 10%;">
<col style="width: 10%;">
<col style="width: 70%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Endpoint</th>
<th class="tableblock halign-left valign-top">Context</th>
<th class="tableblock halign-left valign-top">Body Type</th>
<th class="tableblock halign-left valign-top">Notice</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="twitter-directmessage-component.html">twitter-directmessage</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">direct, polling</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">twitter4j.DirectMessage</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="twitter-search-component.html">twitter-search</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">direct, polling</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">twitter4j.Status</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="twitter-streaming-component.html">twitter-streaming</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">event, polling</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">twitter4j.Status</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="twitter-timeline-component.html">twitter-timeline</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">direct, polling</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">twitter4j.Status</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_producer_endpoints">Producer endpoints</h3>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 10%;">
<col style="width: 10%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Endpoint</th>
<th class="tableblock halign-left valign-top">Body Type</th>
<th class="tableblock halign-left valign-top">Notice</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="twitter-directmessage-component.html">twitter-directmessage</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="twitter-search-component.html">twitter-search</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">List&lt;twitter4j.Status&gt;</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="twitter-timeline-component.html">twitter-timeline</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only 'user' timelineType is supported for producer</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_message_headers">Message headers</h3>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelTwitterKeywords</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This header is used by the search producer to
change the search key words dynamically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelTwitterSearchLanguage</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Camel 2.11.0:</strong> This header can override
the option of <code>lang</code> which set the search language for the search
endpoint dynamically</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelTwitterCount</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Camel 2.11.0</strong> This header can override the option
of <code>count</code> which sets the max twitters that will be returned.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelTwitterNumberOfPages</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Camel 2.11.0</strong> This header can override
the option of <code>numberOfPages</code> which sets how many pages we want to
twitter returns.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_message_body">Message body</h3>
<div class="paragraph">
<p>All message bodies utilize objects provided by the Twitter4J API.</p>
</div>
</div>
<div class="sect2">
<h3 id="_use_cases">Use cases</h3>
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<div class="title">Note</div>
</td>
<td class="content">
<strong>API Rate Limits:</strong> Twitter REST APIs encapsulated by <a href="http://twitter4j.org/">Twitter4J</a> are
subjected to <a href="https://dev.twitter.com/rest/public/rate-limiting">API Rate
Limiting</a>. You can find the per method limits in the
<a href="https://dev.twitter.com/rest/public/rate-limits">API Rate Limits</a>
documentation. Note that endpoints/resources not listed in that page are
default to 15 requests per allotted user per window.
</td>
</tr>
</table>
</div>
<div class="sect3">
<h4 id="_to_create_a_status_update_within_your_twitter_profile_send_this_producer_a_string_body">To create a status update within your Twitter profile, send this producer a String body:</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">from("direct:foo")
  .to("twitter-timeline://user?consumerKey=[s]&amp;consumerSecret=[s]&amp;accessToken=[s]&amp;accessTokenSecret=[s]);</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_to_poll_every_60_sec_all_statuses_on_your_home_timeline">To poll, every 60 sec., all statuses on your home timeline:</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">from("twitter-timeline://home?type=polling&amp;delay=60&amp;consumerKey=[s]&amp;consumerSecret=[s]&amp;accessToken=[s]&amp;accessTokenSecret=[s]")
  .to("bean:blah");</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_to_search_for_all_statuses_with_the_keyword_camel_only_once">To search for all statuses with the keyword 'camel' only once:</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">from("twitter-search://foo?type=polling&amp;keywords=camel&amp;consumerKey=[s]&amp;consumerSecret=[s]&amp;accessToken=[s]&amp;accessTokenSecret=[s]")
  .to("bean:blah");</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_searching_using_a_producer_with_static_keywords">Searching using a producer with static keywords:</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">from("direct:foo")
  .to("twitter-search://foo?keywords=camel&amp;consumerKey=[s]&amp;consumerSecret=[s]&amp;accessToken=[s]&amp;accessTokenSecret=[s]");</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_searching_using_a_producer_with_dynamic_keywords_from_header">Searching using a producer with dynamic keywords from header:</h4>
<div class="paragraph">
<p>In the <code>bar</code> header we have the keywords we want to search, so we can
assign this value to the <code>CamelTwitterKeywords</code> header:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">from("direct:foo")
  .setHeader("CamelTwitterKeywords", header("bar"))
  .to("twitter-search://foo?consumerKey=[s]&amp;consumerSecret=[s]&amp;accessToken=[s]&amp;accessTokenSecret=[s]");</code></pre>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_example">Example</h3>
<div class="paragraph">
<p>See also the <a href="twitter-websocket-example.html">Twitter Websocket
Example</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="ulist">
<ul>
<li>
<p><a href="configuring-camel.html">Configuring Camel</a></p>
</li>
<li>
<p><a href="component.html">Component</a></p>
</li>
<li>
<p><a href="endpoint.html">Endpoint</a></p>
</li>
<li>
<p><a href="getting-started.html">Getting Started</a></p>
</li>
<li>
<p><a href="twitter-websocket-example.html">Twitter Websocket Example</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>

    
<footer class='entry-footer'>
  
    
  
</footer>


  </article>

  
    
<nav class='entry-nav'>
  <div class='entry-nav-links'><div class='prev-entry'>
      <a href='https://camel.apache.org/components/2.20.0/undertow-component/'>
        <span aria-hidden='true'><svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="20" y1="12" x2="4" y2="12"/>
  <polyline points="10 18 4 12 10 6"/>
  
</svg>
 Previous</span>
        <span class='screen-reader'>Previous post: </span></a>
    </div><div class='next-entry'>
      <a href='https://camel.apache.org/components/2.20.0/twitter-timeline-component/'>
        <span class='screen-reader'>Next post: </span><span aria-hidden='true'>Next <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="4" y1="12" x2="20" y2="12"/>
  <polyline points="14 6 20 12 14 18"/>
  
</svg>
</span>
      </a>
    </div></div>
</nav>


  

  
    <div class='comments-container'>
  
</div>

  
</main>

    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <div class='social'>
          <nav aria-label='Social Menu'>
  <ul class='social-menu'>
  
  </ul>
</nav>

        </div>

        <div class='copyright'>
          <p>
    
      
    
  
  &copy; 2004-2018 The Apache Software Foundation.
</p>
<p>
  Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>

        </div>
      </div>
    </footer>

  </div>

  <script src='/js/site.36395d52b78f93dc7cc7.js'></script>
  

</body>

</html>

