<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='OGNL Language Available as of Camel version 1.1
 Camel allows OGNL to be used as an Expression or Predicate the DSL or Xml Configuration.
 You could use OGNL to create an Predicate in a Message Filter or as an Expression for a Recipient List
 You can use OGNL dot notation to invoke operations. If you for instance have a body that contains a POJO that has a getFamilyName method then you can construct the syntax as follows:'>

<meta property='og:title' content=' • Apache Camel: Integration that you want'>
<meta property='og:description' content='OGNL Language Available as of Camel version 1.1
 Camel allows OGNL to be used as an Expression or Predicate the DSL or Xml Configuration.
 You could use OGNL to create an Predicate in a Message Filter or as an Expression for a Recipient List
 You can use OGNL dot notation to invoke operations. If you for instance have a body that contains a POJO that has a getFamilyName method then you can construct the syntax as follows:'>
<meta property='og:url' content='https://camel.apache.org/components/2.20.0/ognl-language/'>
<meta property='og:site_name' content='Apache Camel: Integration that you want'>
<meta property='og:type' content='article'><meta property='article:section' content='Components'>

  <base href='https://camel.apache.org/'>
  <title> • Apache Camel: Integration that you want</title>
  <link rel='canonical' href='https://camel.apache.org/components/2.20.0/ognl-language/'>
  <link href='' rel='alternate' type='application/rss+xml' title='Apache Camel: Integration that you want' />
  <link rel='icon' href='/favicon.ico'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/site.142da777720723dd4ecadc8e70926967.css'>



</head>


<body class='page'>
  <div class='u-full-width u-max-full-width container'>
    <header class='header'>
      <div class='site-header'>
        
        <p class='title'>Apache Camel: Integration that you want</p>
        
        <p>Apache Camel framework for easy integration</p>
      </div>
    </header>

    <nav class='navbar' aria-label='Main Menu'>
  <div class='container'>
    <ul class='navbar-list'>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/about/'>About</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/blog/'>News</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/getting-started/'>Getting started</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/manual/'>Manual</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/components/'>Components</a>
      </li>
      
    </ul>
  </div>
</nav>



<main class='row content'>
  <article lang='en' class='entry'>
    <header class='entry-header'>
  <div class='entry-info'>
    <h1 class='entry-title title'></h1>
    
  </div>
  
<div class='meta'>
  <span class='posted-on'>
    <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
  <line x1="16" y1="2" x2="16" y2="6"/>
  <line x1="8" y1="2" x2="8" y2="6"/>
  <line x1="3" y1="10" x2="21" y2="10"/>
  
</svg>

    <span class='screen-reader'>Posted on </span>
    <time class='date' datetime='0001-01-01T00:00:00Z'>0001, Jan 01</time>
  </span>
  
</div>


</header>

    <div class='entry-content'>
  <div class="sect1">
<h2 id="_ognl_language">OGNL Language</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Available as of Camel version 1.1</strong></p>
</div>
<div class="paragraph">
<p>Camel allows <a href="http://commons.apache.org/proper/commons-ognl/">OGNL</a> to be
used as an <a href="expression.html">Expression</a> or
<a href="predicate.html">Predicate</a> the <a href="dsl.html">DSL</a> or
<a href="xml-configuration.html">Xml Configuration</a>.</p>
</div>
<div class="paragraph">
<p>You could use OGNL to create an <a href="predicate.html">Predicate</a> in a
<a href="message-filter.html">Message Filter</a> or as an
<a href="expression.html">Expression</a> for a
<a href="recipient-list.html">Recipient List</a></p>
</div>
<div class="paragraph">
<p>You can use OGNL dot notation to invoke operations. If you for instance
have a body that contains a POJO that has a <code>getFamilyName</code> method then
you can construct the syntax as follows:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">"request.body.familyName"
   // or
"getRequest().getBody().getFamilyName()"</code></pre>
</div>
</div>
<div class="sect2">
<h3 id="_ognl_options">OGNL Options</h3>
<div class="paragraph">
<p>The OGNL language supports 1 options which are listed below.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 10%;">
<col style="width: 10%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Default</th>
<th class="tableblock halign-left valign-top">Java Type</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">trim</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>true</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Boolean</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether to trim the value to remove leading and trailing whitespaces and line breaks</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_variables">Variables</h3>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 10%;">
<col style="width: 10%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Variable</th>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>this</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exchange</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">the Exchange is the root object</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">exchange</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exchange</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">the Exchange object</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">exception</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Throwable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">the Exchange exception (if any)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">exchangeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">the exchange id</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fault</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Message</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">the Fault message (if any)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">request</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Message</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">the exchange.in message</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">response</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Message</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">the exchange.out message (if any)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">properties</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Map</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">the exchange properties</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">property(name)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Object</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">the property by the given name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">property(name, type)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">the property by the given name as the given type</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_samples">Samples</h3>
<div class="paragraph">
<p>For example you could use OGNL inside a <a href="message-filter.html">Message
Filter</a> in XML</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">&lt;route&gt;
  &lt;from uri="seda:foo"/&gt;
  &lt;filter&gt;
    &lt;ognl&gt;request.headers.foo == 'bar'&lt;/ognl&gt;
    &lt;to uri="seda:bar"/&gt;
  &lt;/filter&gt;
&lt;/route&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>And the sample using Java DSL:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">   from("seda:foo").filter().ognl("request.headers.foo == 'bar'").to("seda:bar");</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_loading_script_from_external_resource">Loading script from external resource</h3>
<div class="paragraph">
<p><strong>Available as of Camel 2.11</strong></p>
</div>
<div class="paragraph">
<p>You can externalize the script and have Camel load it from a resource
such as <code>"classpath:"</code>, <code>"file:"</code>, or <code>"http:"</code>.<br>
 This is done using the following syntax: <code>"resource:scheme:location"</code>,
eg to refer to a file on the classpath you can do:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">.setHeader("myHeader").ognl("resource:classpath:myognl.txt")</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_dependencies">Dependencies</h3>
<div class="paragraph">
<p>To use OGNL in your camel routes you need to add the a dependency on
<strong>camel-ognl</strong> which implements the OGNL language.</p>
</div>
<div class="paragraph">
<p>If you use maven you could just add the following to your pom.xml,
substituting the version number for the latest &amp; greatest release (see
<a href="download.html">the download page for the latest versions</a>).</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">&lt;dependency&gt;
  &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
  &lt;artifactId&gt;camel-ognl&lt;/artifactId&gt;
  &lt;version&gt;x.x.x&lt;/version&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Otherwise, you&#8217;ll also need
<a href="http://repo2.maven.org/maven2/org/apache/servicemix/bundles/org.apache.servicemix.bundles.ognl/2.7.3_4/org.apache.servicemix.bundles.ognl-2.7.3_4.jar">OGNL</a></p>
</div>
</div>
</div>
</div>
</div>

    
<footer class='entry-footer'>
  
    
  
</footer>


  </article>

  
    
<nav class='entry-nav'>
  <div class='entry-nav-links'><div class='prev-entry'>
      <a href='https://camel.apache.org/components/2.20.0/olingo2-component/'>
        <span aria-hidden='true'><svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="20" y1="12" x2="4" y2="12"/>
  <polyline points="10 18 4 12 10 6"/>
  
</svg>
 Previous</span>
        <span class='screen-reader'>Previous post: </span></a>
    </div><div class='next-entry'>
      <a href='https://camel.apache.org/components/2.20.0/netty4-http-component/'>
        <span class='screen-reader'>Next post: </span><span aria-hidden='true'>Next <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="4" y1="12" x2="20" y2="12"/>
  <polyline points="14 6 20 12 14 18"/>
  
</svg>
</span>
      </a>
    </div></div>
</nav>


  

  
    <div class='comments-container'>
  
</div>

  
</main>

    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <div class='social'>
          <nav aria-label='Social Menu'>
  <ul class='social-menu'>
  
  </ul>
</nav>

        </div>

        <div class='copyright'>
          <p>
    
      
    
  
  &copy; 2004-2018 The Apache Software Foundation.
</p>
<p>
  Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>

        </div>
      </div>
    </footer>

  </div>

  <script src='/js/site.36395d52b78f93dc7cc7.js'></script>
  

</body>

</html>

