<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='Ignite endpoints Component Available as of Camel version 2.17
 Apache Ignite In-Memory Data Fabric is a high-performance, integrated and distributed in-memory platform for computing and transacting on large-scale data sets in real-time, orders of magnitude faster than possible with traditional disk-based or flash technologies. It is designed to deliver uncompromised performance for a wide set of in-memory computing use cases from high performance computing, to the industry most advanced data grid, highly available service grid, and streaming.'>

<meta property='og:title' content=' • Apache Camel: Integration that you want'>
<meta property='og:description' content='Ignite endpoints Component Available as of Camel version 2.17
 Apache Ignite In-Memory Data Fabric is a high-performance, integrated and distributed in-memory platform for computing and transacting on large-scale data sets in real-time, orders of magnitude faster than possible with traditional disk-based or flash technologies. It is designed to deliver uncompromised performance for a wide set of in-memory computing use cases from high performance computing, to the industry most advanced data grid, highly available service grid, and streaming.'>
<meta property='og:url' content='https://camel.apache.org/components/2.20.0/ignite/'>
<meta property='og:site_name' content='Apache Camel: Integration that you want'>
<meta property='og:type' content='article'><meta property='article:section' content='Components'>

  <base href='https://camel.apache.org/'>
  <title> • Apache Camel: Integration that you want</title>
  <link rel='canonical' href='https://camel.apache.org/components/2.20.0/ignite/'>
  <link href='' rel='alternate' type='application/rss+xml' title='Apache Camel: Integration that you want' />
  <link rel='icon' href='/favicon.ico'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/site.142da777720723dd4ecadc8e70926967.css'>



</head>


<body class='page'>
  <div class='u-full-width u-max-full-width container'>
    <header class='header'>
      <div class='site-header'>
        
        <p class='title'>Apache Camel: Integration that you want</p>
        
        <p>Apache Camel framework for easy integration</p>
      </div>
    </header>

    <nav class='navbar' aria-label='Main Menu'>
  <div class='container'>
    <ul class='navbar-list'>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/about/'>About</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/blog/'>News</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/getting-started/'>Getting started</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/manual/'>Manual</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/components/'>Components</a>
      </li>
      
    </ul>
  </div>
</nav>



<main class='row content'>
  <article lang='en' class='entry'>
    <header class='entry-header'>
  <div class='entry-info'>
    <h1 class='entry-title title'></h1>
    
  </div>
  
<div class='meta'>
  <span class='posted-on'>
    <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
  <line x1="16" y1="2" x2="16" y2="6"/>
  <line x1="8" y1="2" x2="8" y2="6"/>
  <line x1="3" y1="10" x2="21" y2="10"/>
  
</svg>

    <span class='screen-reader'>Posted on </span>
    <time class='date' datetime='0001-01-01T00:00:00Z'>0001, Jan 01</time>
  </span>
  
</div>


</header>

    <div class='entry-content'>
  <div class="sect1">
<h2 id="_ignite_endpoints_component">Ignite endpoints Component</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Available as of Camel version 2.17</strong></p>
</div>
<div class="paragraph">
<p><a href="https://ignite.apache.org/">Apache Ignite</a> In-Memory Data Fabric is a high-performance, integrated and distributed in-memory platform for computing and transacting on large-scale data sets in real-time, orders of magnitude faster than possible with traditional disk-based or flash technologies. It is designed to deliver uncompromised performance for a wide set of in-memory computing use cases from high performance computing, to the industry most advanced data grid, highly available service grid, and streaming. See all <a href="https://ignite.apache.org/features.html">features</a>.</p>
</div>
<div class="paragraph">
<p><span class="image"><img src="https://ignite.apache.org/images/apache-ignite.png" alt="apache ignite"></span></p>
</div>
<div class="paragraph">
<p>This component offers seven endpoints to cover much of Ignite&#8217;s functionality:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="ignite-cache-component.html">Ignite Cache</a>.</p>
</li>
<li>
<p><a href="ignite-compute-component.html">Ignite Compute</a>.</p>
</li>
<li>
<p><a href="ignite-messaging-component.html">Ignite Messaging</a>.</p>
</li>
<li>
<p><a href="ignite-events-component.html">Ignite Events</a>.</p>
</li>
<li>
<p><a href="ignite-set-component.html">Ignite Sets</a>.</p>
</li>
<li>
<p><a href="ignite-queue-component.html">Ignite Queues</a>.</p>
</li>
<li>
<p><a href="ignite-idgen-component.html">Ignite ID Generator</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>To use this component, add the following dependency to your pom.xml:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;dependency&gt;
    &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
    &lt;artifactId&gt;camel-ignite&lt;/artifactId&gt;
    &lt;version&gt;${camel.version}&lt;/version&gt; &lt;!-- use the same version as your Camel core version --&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
<div class="admonitionblock important">
<table>
<tr>
<td class="icon">
<div class="title">Important</div>
</td>
<td class="content">
<div class="title">Running in OSGi</div>
<div class="paragraph">
<p>If running in an OSGi container, please don&#8217;t miss the <a href="#Ignite-OsgiSupport">OSGi Support</a> section below.</p>
</div>
</td>
</tr>
</table>
</div>
<div class="sect2">
<h3 id="_initializing_the_ignite_component">Initializing the Ignite component</h3>
<div class="paragraph">
<p>Each instance of the Ignite component is associated with an underlying org.apache.ignite.Ignite instance. You can interact with two Ignite clusters by initializing two instances of the Ignite component and binding them to different IgniteConfigurations. There are 3 ways to initialize the Ignite component:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>By passing in an existing org.apache.ignite.Ignite instance. Here&#8217;s an example using Spring config:</p>
</li>
</ul>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;bean name="ignite" class="org.apache.camel.component.ignite.IgniteComponent"&gt;
   &lt;property name="ignite" ref="ignite" /&gt;
&lt;/bean&gt;</code></pre>
</div>
</div>
<div class="ulist">
<ul>
<li>
<p>By passing in an IgniteConfiguration, either constructed programmatically or through inversion of control (e.g. Spring, Blueprint, etc.). Here&#8217;s an example using Spring config:</p>
</li>
</ul>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;bean name="ignite" class="org.apache.camel.component.ignite.IgniteComponent"&gt;
   &lt;property name="igniteConfiguration"&gt;
      &lt;bean class="org.apache.ignite.configuration.IgniteConfiguration"&gt;
         [...]
      &lt;/bean&gt;
   &lt;/property&gt;
&lt;/bean&gt;</code></pre>
</div>
</div>
<div class="ulist">
<ul>
<li>
<p>By passing in a URL, InputStream or String URL to a Spring-based configuration file. In all three cases, you inject them in the same property called configurationResource. Here&#8217;s an example using Spring config:</p>
</li>
</ul>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;bean name="ignite" class="org.apache.camel.component.ignite.IgniteComponent"&gt;
   &lt;property name="configurationResource" value="file:[...]/ignite-config.xml" /&gt;
&lt;/bean&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Additionally, if using Camel programmatically, there are several convenience static methods in IgniteComponent that return a component out of any of these configuration options:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>IgniteComponent#fromIgnite(Ignite)</p>
</li>
<li>
<p>IgniteComponent#fromConfiguration(IgniteConfiguration)</p>
</li>
<li>
<p>IgniteComponent#fromInputStream(InputStream)</p>
</li>
<li>
<p>IgniteComponent#fromUrl(URL)</p>
</li>
<li>
<p>IgniteComponent#fromLocation(String)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You may use those methods to quickly create an IgniteComponent with your chosen configuration technique.</p>
</div>
</div>
<div class="sect2">
<h3 id="_general_options">General options</h3>
<div class="paragraph">
<p>All endpoints share the following options:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 11.1111%;">
<col style="width: 11.1111%;">
<col style="width: 11.1111%;">
<col style="width: 44.4444%;">
<col style="width: 11.1111%;">
<col style="width: 11.1112%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Default value</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-left valign-top">propagateIncomingBodyIfNoReturnValue</th>
<th class="tableblock halign-left valign-top">boolean</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">true</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the underlying Ignite operation returns void (no return type), this flag determines whether the producer will copy the IN body into the OUT body.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">treatCollectionsAsCacheObjects</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Some Ignite operations can deal with multiple elements at once, if passed a Collection. Enabling this option will treat Collections as a single object, invoking the operation variant for cardinality 1.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_osgi_support">OSGi Support</h3>
<div class="admonitionblock tip">
<table>
<tr>
<td class="icon">
<div class="title">Tip</div>
</td>
<td class="content">
Apache Ignite supports OSGi from version 1.5.0.final onwards.
</td>
</tr>
</table>
</div>
<div class="paragraph">
<p>When installing on Apache Karaf:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Installing the camel-ignite feature will require the Ignite feature repository to be present.</p>
</li>
<li>
<p>You must have exported from the JRE (system bundle) some low-level, non-standard packages that Ignite requires.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Please refer to the OSGi section in the Ignite documentation for more information.</p>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="ulist">
<ul>
<li>
<p><a href="http://camel.apache.org/configuring-camel.html">Configuring Camel</a></p>
</li>
<li>
<p><a href="http://camel.apache.org/component.html">Component</a></p>
</li>
<li>
<p><a href="http://camel.apache.org/endpoint.html">Endpoint</a></p>
</li>
<li>
<p><a href="http://camel.apache.org/getting-started.html">Getting Started</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>

    
<footer class='entry-footer'>
  
    
  
</footer>


  </article>

  
    
<nav class='entry-nav'>
  <div class='entry-nav-links'><div class='prev-entry'>
      <a href='https://camel.apache.org/components/2.20.0/infinispan-component/'>
        <span aria-hidden='true'><svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="20" y1="12" x2="4" y2="12"/>
  <polyline points="10 18 4 12 10 6"/>
  
</svg>
 Previous</span>
        <span class='screen-reader'>Previous post: </span></a>
    </div><div class='next-entry'>
      <a href='https://camel.apache.org/components/2.20.0/ignite-set-component/'>
        <span class='screen-reader'>Next post: </span><span aria-hidden='true'>Next <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="4" y1="12" x2="20" y2="12"/>
  <polyline points="14 6 20 12 14 18"/>
  
</svg>
</span>
      </a>
    </div></div>
</nav>


  

  
    <div class='comments-container'>
  
</div>

  
</main>

    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <div class='social'>
          <nav aria-label='Social Menu'>
  <ul class='social-menu'>
  
  </ul>
</nav>

        </div>

        <div class='copyright'>
          <p>
    
      
    
  
  &copy; 2004-2018 The Apache Software Foundation.
</p>
<p>
  Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>

        </div>
      </div>
    </footer>

  </div>

  <script src='/js/site.36395d52b78f93dc7cc7.js'></script>
  

</body>

</html>

