<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='Solr Component Available as of Camel version 2.9
 The Solr component allows you to interface with an Apache Lucene Solr server (based on SolrJ 3.5.0).
 Maven users will need to add the following dependency to their pom.xml for this component:
 &lt;dependency&gt; &lt;groupId&gt;org.apache.camel&lt;/groupId&gt; &lt;artifactId&gt;camel-solr&lt;/artifactId&gt; &lt;version&gt;x.x.x&lt;/version&gt; &lt;!-- use the same version as your Camel core version --&gt; &lt;/dependency&gt;   URI format NOTE: solrs and solrCloud are new added since Camel 2.'>

<meta property='og:title' content=' • Apache Camel: Integration that you want'>
<meta property='og:description' content='Solr Component Available as of Camel version 2.9
 The Solr component allows you to interface with an Apache Lucene Solr server (based on SolrJ 3.5.0).
 Maven users will need to add the following dependency to their pom.xml for this component:
 &lt;dependency&gt; &lt;groupId&gt;org.apache.camel&lt;/groupId&gt; &lt;artifactId&gt;camel-solr&lt;/artifactId&gt; &lt;version&gt;x.x.x&lt;/version&gt; &lt;!-- use the same version as your Camel core version --&gt; &lt;/dependency&gt;   URI format NOTE: solrs and solrCloud are new added since Camel 2.'>
<meta property='og:url' content='https://camel.apache.org/components/2.20.0/solr-component/'>
<meta property='og:site_name' content='Apache Camel: Integration that you want'>
<meta property='og:type' content='article'><meta property='article:section' content='Components'>

  <base href='https://camel.apache.org/'>
  <title> • Apache Camel: Integration that you want</title>
  <link rel='canonical' href='https://camel.apache.org/components/2.20.0/solr-component/'>
  <link href='' rel='alternate' type='application/rss+xml' title='Apache Camel: Integration that you want' />
  <link rel='icon' href='/favicon.ico'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/site.142da777720723dd4ecadc8e70926967.css'>



</head>


<body class='page'>
  <div class='u-full-width u-max-full-width container'>
    <header class='header'>
      <div class='site-header'>
        
        <p class='title'>Apache Camel: Integration that you want</p>
        
        <p>Apache Camel framework for easy integration</p>
      </div>
    </header>

    <nav class='navbar' aria-label='Main Menu'>
  <div class='container'>
    <ul class='navbar-list'>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/about/'>About</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/blog/'>News</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/getting-started/'>Getting started</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/manual/'>Manual</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/components/'>Components</a>
      </li>
      
    </ul>
  </div>
</nav>



<main class='row content'>
  <article lang='en' class='entry'>
    <header class='entry-header'>
  <div class='entry-info'>
    <h1 class='entry-title title'></h1>
    
  </div>
  
<div class='meta'>
  <span class='posted-on'>
    <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
  <line x1="16" y1="2" x2="16" y2="6"/>
  <line x1="8" y1="2" x2="8" y2="6"/>
  <line x1="3" y1="10" x2="21" y2="10"/>
  
</svg>

    <span class='screen-reader'>Posted on </span>
    <time class='date' datetime='0001-01-01T00:00:00Z'>0001, Jan 01</time>
  </span>
  
</div>


</header>

    <div class='entry-content'>
  <div class="sect1">
<h2 id="_solr_component">Solr Component</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Available as of Camel version 2.9</strong></p>
</div>
<div class="paragraph">
<p>The Solr component allows you to interface with an
<a href="http://lucene.apache.org/solr/">Apache Lucene Solr</a> server (based on
SolrJ 3.5.0).</p>
</div>
<div class="paragraph">
<p>Maven users will need to add the following dependency to their <code>pom.xml</code>
for this component:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;dependency&gt;
    &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
    &lt;artifactId&gt;camel-solr&lt;/artifactId&gt;
    &lt;version&gt;x.x.x&lt;/version&gt;
    &lt;!-- use the same version as your Camel core version --&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
<div class="sect2">
<h3 id="_uri_format">URI format</h3>
<div class="paragraph">
<p><strong>NOTE:</strong> solrs and solrCloud are new added since <strong>Camel 2.14</strong>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">solr://host[:port]/solr?[options]
solrs://host[:port]/solr?[options]
solrCloud://host[:port]/solr?[options]</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_solr_options">Solr Options</h3>
<div class="paragraph">
<p>The Solr component has no options.</p>
</div>
<div class="paragraph">
<p>The Solr endpoint is configured using URI syntax:</p>
</div>
<div class="literalblock">
<div class="content">
<pre>solr:url</pre>
</div>
</div>
<div class="paragraph">
<p>with the following path and query parameters:</p>
</div>
<div class="sect3">
<h4 id="_path_parameters_1_parameters">Path Parameters (1 parameters):</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>url</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Required</strong> Hostname and port for the solr server</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_query_parameters_13_parameters">Query Parameters (13 parameters):</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>allowCompression</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Server side must support gzip or deflate for this to have any effect</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>connectionTimeout</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">connectionTimeout on the underlying HttpConnectionManager</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Integer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>defaultMaxConnectionsPer Host</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">maxConnectionsPerHost on the underlying HttpConnectionManager</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Integer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>followRedirects</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">indicates whether redirects are used to get to the Solr server</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>maxRetries</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximum number of retries to attempt in the event of transient errors</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Integer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>maxTotalConnections</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">maxTotalConnection on the underlying HttpConnectionManager</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Integer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>requestHandler</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set the request handler to be used</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>soTimeout</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Read timeout on the underlying HttpConnectionManager. This is desirable for queries but probably not for indexing</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Integer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>streamingQueueSize</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set the queue size for the StreamingUpdateSolrServer</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">10</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">int</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>streamingThreadCount</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set the number of threads for the StreamingUpdateSolrServer</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">int</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>synchronous</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets whether synchronous processing should be strictly used or Camel is allowed to use asynchronous processing (if supported).</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>collection</strong> (solrCloud)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set the collection name which the solrCloud server could use</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>zkHost</strong> (solrCloud)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set the ZooKeeper host information which the solrCloud could use such as zkhost=localhost:8123.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="_message_operations">Message Operations</h3>
<div class="paragraph">
<p>The following Solr operations are currently supported. Simply set an
exchange header with a key of "SolrOperation" and a value set to one of
the following. Some operations also require the message body to be set.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>the INSERT operations use the
<a href="http://lucene.apache.org/solr/api/org/apache/solr/client/solrj/impl/CommonsHttpSolrServer.html">CommonsHttpSolrServer</a></p>
</li>
<li>
<p>the INSERT_STREAMING operations use the
<a href="http://lucene.apache.org/solr/api/org/apache/solr/client/solrj/impl/StreamingUpdateSolrServer.html">StreamingUpdateSolrServer</a>
(<strong>Camel 2.9.2</strong>)</p>
</li>
</ul>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 10%;">
<col style="width: 10%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Operation</th>
<th class="tableblock halign-left valign-top">Message body</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">INSERT/INSERT_STREAMING</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">n/a</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">adds an index using message headers (must be prefixed with "SolrField.")</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">INSERT/INSERT_STREAMING</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">File</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">adds an index using the given File (using ContentStreamUpdateRequest)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">INSERT/INSERT_STREAMING</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">SolrInputDocument</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Camel 2.9.2</strong> updates index based on the given SolrInputDocument</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">INSERT/INSERT_STREAMING</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String XML</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Camel 2.9.2</strong> updates index based on the given XML (must follow
SolrInputDocument format)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ADD_BEAN</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">bean instance</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">adds an index based on values in an
<a href="http://wiki.apache.org/solr/Solrj#Directly_adding_POJOs_to_Solr">annotated
bean</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ADD_BEANS</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">collection&lt;bean&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Camel 2.15</strong> adds index based on a collection of
<a href="http://wiki.apache.org/solr/Solrj#Directly_adding_POJOs_to_Solr">annotated
bean</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">DELETE_BY_ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">index id to delete</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">delete a record by ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">DELETE_BY_QUERY</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">query string</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">delete a record by a query</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">COMMIT</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">n/a</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">performs a commit on any pending index changes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ROLLBACK</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">n/a</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">performs a rollback on any pending index changes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">OPTIMIZE</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">n/a</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">performs a commit on any pending index changes and then runs the
optimize command</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_example">Example</h3>
<div class="paragraph">
<p>Below is a simple INSERT, DELETE and COMMIT example</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">from("direct:insert")
    .setHeader(SolrConstants.OPERATION, constant(SolrConstants.OPERATION_INSERT))
    .setHeader(SolrConstants.FIELD + "id", body())
    .to("solr://localhost:8983/solr");

from("direct:delete")
    .setHeader(SolrConstants.OPERATION, constant(SolrConstants.OPERATION_DELETE_BY_ID))
    .to("solr://localhost:8983/solr");

from("direct:commit")
    .setHeader(SolrConstants.OPERATION, constant(SolrConstants.OPERATION_COMMIT))
    .to("solr://localhost:8983/solr");</code></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;route&gt;
    &lt;from uri="direct:insert"/&gt;
    &lt;setHeader headerName="SolrOperation"&gt;
        &lt;constant&gt;INSERT&lt;/constant&gt;
    &lt;/setHeader&gt;
    &lt;setHeader headerName="SolrField.id"&gt;
        &lt;simple&gt;${body}&lt;/simple&gt;
    &lt;/setHeader&gt;
    &lt;to uri="solr://localhost:8983/solr"/&gt;
&lt;/route&gt;
&lt;route&gt;
    &lt;from uri="direct:delete"/&gt;
    &lt;setHeader headerName="SolrOperation"&gt;
        &lt;constant&gt;DELETE_BY_ID&lt;/constant&gt;
    &lt;/setHeader&gt;
    &lt;to uri="solr://localhost:8983/solr"/&gt;
&lt;/route&gt;
&lt;route&gt;
    &lt;from uri="direct:commit"/&gt;
    &lt;setHeader headerName="SolrOperation"&gt;
        &lt;constant&gt;COMMIT&lt;/constant&gt;
    &lt;/setHeader&gt;
    &lt;to uri="solr://localhost:8983/solr"/&gt;
&lt;/route&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>A client would simply need to pass a body message to the insert or
delete routes and then call the commit route.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">    template.sendBody("direct:insert", "1234");
    template.sendBody("direct:commit", null);
    template.sendBody("direct:delete", "1234");
    template.sendBody("direct:commit", null);</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_querying_solr">Querying Solr</h3>
<div class="paragraph">
<p>Currently, this component doesn&#8217;t support querying data natively (may be
added later). For now, you can query Solr using <a href="http.html">HTTP</a> as
follows:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">//define the route to perform a basic query
from("direct:query")
    .recipientList(simple("http://localhost:8983/solr/select/?q=${body}"))
    .convertBodyTo(String.class);
...
//query for an id of '1234' (url encoded)
String responseXml = (String) template.requestBody("direct:query", "id%3A1234");</code></pre>
</div>
</div>
<div class="paragraph">
<p>For more information, see these resources&#8230;&#8203;</p>
</div>
<div class="paragraph">
<p><a href="http://lucene.apache.org/solr/tutorial.html#Querying+Data">Solr Query
Tutorial</a></p>
</div>
<div class="paragraph">
<p><a href="http://wiki.apache.org/solr/SolrQuerySyntax">Solr Query Syntax</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="ulist">
<ul>
<li>
<p><a href="configuring-camel.html">Configuring Camel</a></p>
</li>
<li>
<p><a href="component.html">Component</a></p>
</li>
<li>
<p><a href="endpoint.html">Endpoint</a></p>
</li>
<li>
<p><a href="getting-started.html">Getting Started</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>

    
<footer class='entry-footer'>
  
    
  
</footer>


  </article>

  
    
<nav class='entry-nav'>
  <div class='entry-nav-links'><div class='prev-entry'>
      <a href='https://camel.apache.org/components/2.20.0/spark-component/'>
        <span aria-hidden='true'><svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="20" y1="12" x2="4" y2="12"/>
  <polyline points="10 18 4 12 10 6"/>
  
</svg>
 Previous</span>
        <span class='screen-reader'>Previous post: </span></a>
    </div><div class='next-entry'>
      <a href='https://camel.apache.org/components/2.20.0/soapjaxb-dataformat/'>
        <span class='screen-reader'>Next post: </span><span aria-hidden='true'>Next <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="4" y1="12" x2="20" y2="12"/>
  <polyline points="14 6 20 12 14 18"/>
  
</svg>
</span>
      </a>
    </div></div>
</nav>


  

  
    <div class='comments-container'>
  
</div>

  
</main>

    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <div class='social'>
          <nav aria-label='Social Menu'>
  <ul class='social-menu'>
  
  </ul>
</nav>

        </div>

        <div class='copyright'>
          <p>
    
      
    
  
  &copy; 2004-2018 The Apache Software Foundation.
</p>
<p>
  Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>

        </div>
      </div>
    </footer>

  </div>

  <script src='/js/site.36395d52b78f93dc7cc7.js'></script>
  

</body>

</html>

