<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='XML RPC Component Available as of Camel version 2.11
 This component provides a dataformat for xml, which allows serialization and deserialization of request messages and response message using Apache XmlRpc&#8217;s binary dataformat. You can also invoke the XMLRPC Service through the camel-xmlrpc producer.
 Maven users will need to add the following dependency to their pom.xml for this component:
 &lt;dependency&gt; &lt;groupId&gt;org.apache.camel&lt;/groupId&gt; &lt;artifactId&gt;camel-xmlrpc&lt;/artifactId&gt; &lt;version&gt;x.x.x&lt;/version&gt; &lt;!-- use the same version as your Camel core version --&gt; &lt;/dependency&gt;   XmlRpc Overview It&#8217;s a spec and a set of implementations that allow software running on disparate operating systems, running in different environments to make procedure calls over the Internet.'>

<meta property='og:title' content=' • Apache Camel: Integration that you want'>
<meta property='og:description' content='XML RPC Component Available as of Camel version 2.11
 This component provides a dataformat for xml, which allows serialization and deserialization of request messages and response message using Apache XmlRpc&#8217;s binary dataformat. You can also invoke the XMLRPC Service through the camel-xmlrpc producer.
 Maven users will need to add the following dependency to their pom.xml for this component:
 &lt;dependency&gt; &lt;groupId&gt;org.apache.camel&lt;/groupId&gt; &lt;artifactId&gt;camel-xmlrpc&lt;/artifactId&gt; &lt;version&gt;x.x.x&lt;/version&gt; &lt;!-- use the same version as your Camel core version --&gt; &lt;/dependency&gt;   XmlRpc Overview It&#8217;s a spec and a set of implementations that allow software running on disparate operating systems, running in different environments to make procedure calls over the Internet.'>
<meta property='og:url' content='https://camel.apache.org/components/2.20.0/xmlrpc-component/'>
<meta property='og:site_name' content='Apache Camel: Integration that you want'>
<meta property='og:type' content='article'><meta property='article:section' content='Components'>

  <base href='https://camel.apache.org/'>
  <title> • Apache Camel: Integration that you want</title>
  <link rel='canonical' href='https://camel.apache.org/components/2.20.0/xmlrpc-component/'>
  <link href='' rel='alternate' type='application/rss+xml' title='Apache Camel: Integration that you want' />
  <link rel='icon' href='/favicon.ico'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/site.142da777720723dd4ecadc8e70926967.css'>



</head>


<body class='page'>
  <div class='u-full-width u-max-full-width container'>
    <header class='header'>
      <div class='site-header'>
        
        <p class='title'>Apache Camel: Integration that you want</p>
        
        <p>Apache Camel framework for easy integration</p>
      </div>
    </header>

    <nav class='navbar' aria-label='Main Menu'>
  <div class='container'>
    <ul class='navbar-list'>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/about/'>About</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/blog/'>News</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/getting-started/'>Getting started</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/manual/'>Manual</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/components/'>Components</a>
      </li>
      
    </ul>
  </div>
</nav>



<main class='row content'>
  <article lang='en' class='entry'>
    <header class='entry-header'>
  <div class='entry-info'>
    <h1 class='entry-title title'></h1>
    
  </div>
  
<div class='meta'>
  <span class='posted-on'>
    <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
  <line x1="16" y1="2" x2="16" y2="6"/>
  <line x1="8" y1="2" x2="8" y2="6"/>
  <line x1="3" y1="10" x2="21" y2="10"/>
  
</svg>

    <span class='screen-reader'>Posted on </span>
    <time class='date' datetime='0001-01-01T00:00:00Z'>0001, Jan 01</time>
  </span>
  
</div>


</header>

    <div class='entry-content'>
  <div class="sect1">
<h2 id="_xml_rpc_component">XML RPC Component</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Available as of Camel version 2.11</strong></p>
</div>
<div class="paragraph">
<p>This component provides a dataformat for xml, which allows serialization
and deserialization of request messages and response message using
Apache XmlRpc&#8217;s binary dataformat. You can also invoke the XMLRPC
Service through the camel-xmlrpc producer.</p>
</div>
<div class="paragraph">
<p>Maven users will need to add the following dependency to their <code>pom.xml</code>
for this component:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;dependency&gt;
    &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
    &lt;artifactId&gt;camel-xmlrpc&lt;/artifactId&gt;
    &lt;version&gt;x.x.x&lt;/version&gt;
    &lt;!-- use the same version as your Camel core version --&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
<div class="sect2">
<h3 id="_xmlrpc_overview">XmlRpc Overview</h3>
<div class="paragraph">
<p>It&#8217;s a <a href="http://xmlrpc.scripting.com/spec">spec</a> and a set of
implementations that allow software running on disparate operating
systems, running in different environments to make procedure calls over
the Internet.</p>
</div>
<div class="paragraph">
<p>It&#8217;s remote procedure calling using HTTP as the transport and XML as the
encoding. XML-RPC is designed to be as simple as possible, while
allowing complex data structures to be transmitted, processed and
returned.</p>
</div>
<div class="paragraph">
<p>An example of a typical XML-RPC request would be:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">&lt;?xml version="1.0"?&gt;
&lt;methodCall&gt;
  &lt;methodName&gt;examples.getStateName&lt;/methodName&gt;
  &lt;params&gt;
    &lt;param&gt;
        &lt;value&gt;&lt;i4&gt;40&lt;/i4&gt;&lt;/value&gt;
    &lt;/param&gt;
  &lt;/params&gt;
&lt;/methodCall&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>An example of a typical XML-RPC response would be:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">&lt;?xml version="1.0"?&gt;
&lt;methodResponse&gt;
  &lt;params&gt;
    &lt;param&gt;
        &lt;value&gt;&lt;string&gt;South Dakota&lt;/string&gt;&lt;/value&gt;
    &lt;/param&gt;
  &lt;/params&gt;
&lt;/methodResponse&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>A typical XML-RPC fault would be:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">&lt;?xml version="1.0"?&gt;
&lt;methodResponse&gt;
  &lt;fault&gt;
    &lt;value&gt;
      &lt;struct&gt;
        &lt;member&gt;
          &lt;name&gt;faultCode&lt;/name&gt;
          &lt;value&gt;&lt;int&gt;4&lt;/int&gt;&lt;/value&gt;
        &lt;/member&gt;
        &lt;member&gt;
          &lt;name&gt;faultString&lt;/name&gt;
          &lt;value&gt;&lt;string&gt;Too many parameters.&lt;/string&gt;&lt;/value&gt;
        &lt;/member&gt;
      &lt;/struct&gt;
    &lt;/value&gt;
  &lt;/fault&gt;
&lt;/methodResponse&gt;</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_uri_format">URI format</h3>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">xmlrpc://serverUri[?options]</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_options">Options</h3>
<div class="paragraph">
<p>The XML RPC component has no options.</p>
</div>
<div class="paragraph">
<p>The XML RPC endpoint is configured using URI syntax:</p>
</div>
<div class="literalblock">
<div class="content">
<pre>xmlrpc:address</pre>
</div>
</div>
<div class="paragraph">
<p>with the following path and query parameters:</p>
</div>
<div class="sect3">
<h4 id="_path_parameters_1_parameters">Path Parameters (1 parameters):</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Required</strong> The server url</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_query_parameters_18_parameters">Query Parameters (18 parameters):</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>basicEncoding</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets the encoding for basic authentication null means UTF-8 is chosen.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>connectionTimeout</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set the connection timeout in milliseconds 0 is to disable it</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">int</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>contentLengthOptional</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether a Content-Length header may be omitted. The XML-RPC specification demands that such a header be present.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>defaultMethodName</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The method name which would be used for the xmlrpc requests by default if the Message header CamelXmlRpcMethodName is not set.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>enabledForExceptions</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether the response should contain a faultCause element in case of errors. The faultCause is an exception which the server has trapped and written into a byte stream as a serializable object.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>enabledForExtensions</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether extensions are enabled. By default the client or server is strictly compliant to the XML-RPC specification and extensions are disabled.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>encoding</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets the requests encoding null means UTF-8 is chosen.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>gzipCompressing</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether gzip compression is being used for transmitting the request.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>gzipRequesting</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether gzip compression is being used for transmitting the request.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>replyTimeout</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set the reply timeout in milliseconds 0 is to disable it.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">int</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>clientConfig</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To use the given XmlRpcClientConfigImpl as configuration for the client.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">XmlRpcClientConfig Impl</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>clientConfigurer</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To use a custom XmlRpcClientConfigurer to configure the client</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">XmlRpcClientConfigurer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>synchronous</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets whether synchronous processing should be strictly used or Camel is allowed to use asynchronous processing (if supported).</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>timeZone</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The timezone which is used to interpret date/time. Defaults to link TimeZonegetDefault().</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">TimeZone</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>userAgent</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The http user agent header to set when doing xmlrpc requests</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>xmlRpcServer</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To use a custom XmlRpcRequestProcessor as server.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">XmlRpcRequestProcessor</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>basicPassword</strong> (security)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The password for basic authentication.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>basicUserName</strong> (security)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The user name for basic authentication.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="_message_headers">Message Headers</h3>
<div class="paragraph">
<p>Camel XmlRpc uses these headers.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 10%;">
<col style="width: 90%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Header</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelXmlRpcMethodName</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The XmlRpc method name which will be use for invoking the XmlRpc server.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_using_the_xmlrpc_data_format">Using the XmlRpc data format</h3>
<div class="paragraph">
<p>As the XmlRpc message could be request or response, when you use the
XmlRpcDataFormat, you need to specify the dataformat is for request or
not.</p>
</div>
</div>
<div class="sect2">
<h3 id="_invoke_xmlrpc_service_from_client">Invoke XmlRpc Service from Client</h3>
<div class="paragraph">
<p>To invoke the XmlRpc service, you need to specify the methodName on the
message header and put the parameters into the message body like below
code, then you can get the result message as you want. If the fault
message is return, you should get an exception which cause if
XmlRpcException.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">   String response = template.requestBodyAndHeader(xmlRpcServiceAddress, new Object[]{"me"}, XmlRpcConstants.METHOD_NAME, "hello", String.class);</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_how_to_configure_the_xmlrpcclient_with_java_code">How to configure the XmlRpcClient with Java code</h3>
<div class="paragraph">
<p>camel-xmlrpc provides a pluggable strategy for configuring the
XmlRpcClient used by the component, user just to implement the
<strong>XmlRpcClientConfigurer</strong> interface and can configure the XmlRpcClient as
he wants. The clientConfigure instance reference can be set through the
uri option clientConfigure.</p>
</div>
</div>
</div>
</div>
</div>

    
<footer class='entry-footer'>
  
    
  
</footer>


  </article>

  
    
<nav class='entry-nav'>
  <div class='entry-nav-links'><div class='prev-entry'>
      <a href='https://camel.apache.org/components/2.20.0/xmlrpc-dataformat/'>
        <span aria-hidden='true'><svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="20" y1="12" x2="4" y2="12"/>
  <polyline points="10 18 4 12 10 6"/>
  
</svg>
 Previous</span>
        <span class='screen-reader'>Previous post: </span></a>
    </div><div class='next-entry'>
      <a href='https://camel.apache.org/components/2.20.0/xmljson-dataformat/'>
        <span class='screen-reader'>Next post: </span><span aria-hidden='true'>Next <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="4" y1="12" x2="20" y2="12"/>
  <polyline points="14 6 20 12 14 18"/>
  
</svg>
</span>
      </a>
    </div></div>
</nav>


  

  
    <div class='comments-container'>
  
</div>

  
</main>

    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <div class='social'>
          <nav aria-label='Social Menu'>
  <ul class='social-menu'>
  
  </ul>
</nav>

        </div>

        <div class='copyright'>
          <p>
    
      
    
  
  &copy; 2004-2018 The Apache Software Foundation.
</p>
<p>
  Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>

        </div>
      </div>
    </footer>

  </div>

  <script src='/js/site.36395d52b78f93dc7cc7.js'></script>
  

</body>

</html>

