<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='Flatpack Component Available as of Camel version 1.4
 The Flatpack component supports fixed width and delimited file parsing via the FlatPack library.
Notice: This component only supports consuming from flatpack files to Object model. You can not (yet) write from Object model to flatpack format.
 Maven users will need to add the following dependency to their pom.xml for this component:
 &lt;dependency&gt; &lt;groupId&gt;org.apache.camel&lt;/groupId&gt; &lt;artifactId&gt;camel-flatpack&lt;/artifactId&gt; &lt;version&gt;x.x.x&lt;/version&gt; &lt;!-- use the same version as your Camel core version --&gt; &lt;/dependency&gt;   URI format flatpack:[delim|fixed]:flatPackConfig.'>

<meta property='og:title' content=' • Apache Camel: Integration that you want'>
<meta property='og:description' content='Flatpack Component Available as of Camel version 1.4
 The Flatpack component supports fixed width and delimited file parsing via the FlatPack library.
Notice: This component only supports consuming from flatpack files to Object model. You can not (yet) write from Object model to flatpack format.
 Maven users will need to add the following dependency to their pom.xml for this component:
 &lt;dependency&gt; &lt;groupId&gt;org.apache.camel&lt;/groupId&gt; &lt;artifactId&gt;camel-flatpack&lt;/artifactId&gt; &lt;version&gt;x.x.x&lt;/version&gt; &lt;!-- use the same version as your Camel core version --&gt; &lt;/dependency&gt;   URI format flatpack:[delim|fixed]:flatPackConfig.'>
<meta property='og:url' content='https://camel.apache.org/components/2.20.0/flatpack-component/'>
<meta property='og:site_name' content='Apache Camel: Integration that you want'>
<meta property='og:type' content='article'><meta property='article:section' content='Components'>

  <base href='https://camel.apache.org/'>
  <title> • Apache Camel: Integration that you want</title>
  <link rel='canonical' href='https://camel.apache.org/components/2.20.0/flatpack-component/'>
  <link href='' rel='alternate' type='application/rss+xml' title='Apache Camel: Integration that you want' />
  <link rel='icon' href='/favicon.ico'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/site.142da777720723dd4ecadc8e70926967.css'>



</head>


<body class='page'>
  <div class='u-full-width u-max-full-width container'>
    <header class='header'>
      <div class='site-header'>
        
        <p class='title'>Apache Camel: Integration that you want</p>
        
        <p>Apache Camel framework for easy integration</p>
      </div>
    </header>

    <nav class='navbar' aria-label='Main Menu'>
  <div class='container'>
    <ul class='navbar-list'>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/about/'>About</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/blog/'>News</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/getting-started/'>Getting started</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/manual/'>Manual</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/components/'>Components</a>
      </li>
      
    </ul>
  </div>
</nav>



<main class='row content'>
  <article lang='en' class='entry'>
    <header class='entry-header'>
  <div class='entry-info'>
    <h1 class='entry-title title'></h1>
    
  </div>
  
<div class='meta'>
  <span class='posted-on'>
    <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
  <line x1="16" y1="2" x2="16" y2="6"/>
  <line x1="8" y1="2" x2="8" y2="6"/>
  <line x1="3" y1="10" x2="21" y2="10"/>
  
</svg>

    <span class='screen-reader'>Posted on </span>
    <time class='date' datetime='0001-01-01T00:00:00Z'>0001, Jan 01</time>
  </span>
  
</div>


</header>

    <div class='entry-content'>
  <div class="sect1">
<h2 id="_flatpack_component">Flatpack Component</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Available as of Camel version 1.4</strong></p>
</div>
<div class="paragraph">
<p>The Flatpack component supports fixed width and delimited file parsing
via the <a href="http://flatpack.sourceforge.net">FlatPack library</a>.<br>
 <strong>Notice:</strong> This component only supports consuming from flatpack files to
Object model. You can not (yet) write from Object model to flatpack
format.</p>
</div>
<div class="paragraph">
<p>Maven users will need to add the following dependency to their <code>pom.xml</code>
for this component:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;dependency&gt;
    &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
    &lt;artifactId&gt;camel-flatpack&lt;/artifactId&gt;
    &lt;version&gt;x.x.x&lt;/version&gt;
    &lt;!-- use the same version as your Camel core version --&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
<div class="sect2">
<h3 id="_uri_format">URI format</h3>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">flatpack:[delim|fixed]:flatPackConfig.pzmap.xml[?options]</code></pre>
</div>
</div>
<div class="paragraph">
<p>Or for a delimited file handler with no configuration file just use</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">flatpack:someName[?options]</code></pre>
</div>
</div>
<div class="paragraph">
<p>You can append query options to the URI in the following format,
<code>?option=value&amp;option=value&amp;&#8230;&#8203;</code></p>
</div>
</div>
<div class="sect2">
<h3 id="_uri_options">URI Options</h3>
<div class="paragraph">
<p>The Flatpack component has no options.</p>
</div>
<div class="paragraph">
<p>The Flatpack endpoint is configured using URI syntax:</p>
</div>
<div class="literalblock">
<div class="content">
<pre>flatpack:type:resourceUri</pre>
</div>
</div>
<div class="paragraph">
<p>with the following path and query parameters:</p>
</div>
<div class="sect3">
<h4 id="_path_parameters_2_parameters">Path Parameters (2 parameters):</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether to use fixed or delimiter</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">delim</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">FlatpackType</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>resourceUri</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Required</strong> URL for loading the flatpack mapping file from classpath or file system</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_query_parameters_25_parameters">Query Parameters (25 parameters):</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>allowShortLines</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allows for lines to be shorter than expected and ignores the extra characters</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>delimiter</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The default character delimiter for delimited files.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">,</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">char</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ignoreExtraColumns</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allows for lines to be longer than expected and ignores the extra characters</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ignoreFirstRecord</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether the first line is ignored for delimited files (for the column headers).</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">true</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>splitRows</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets the Component to send each row as a separate exchange once parsed</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">true</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>textQualifier</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The text qualifier for delimited files.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">char</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bridgeErrorHandler</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allows for bridging the consumer to the Camel routing Error Handler which mean any exceptions occurred while the consumer is trying to pickup incoming messages or the likes will now be processed as a message and handled by the routing Error Handler. By default the consumer will use the org.apache.camel.spi.ExceptionHandler to deal with exceptions that will be logged at WARN or ERROR level and ignored.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>sendEmptyMessageWhenIdle</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the polling consumer did not poll any files you can enable this option to send an empty message (no body) instead.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>exceptionHandler</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To let the consumer use a custom ExceptionHandler. Notice if the option bridgeErrorHandler is enabled then this options is not in use. By default the consumer will deal with exceptions that will be logged at WARN or ERROR level and ignored.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ExceptionHandler</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>exchangePattern</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets the exchange pattern when the consumer creates an exchange.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ExchangePattern</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>pollStrategy</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A pluggable org.apache.camel.PollingConsumerPollingStrategy allowing you to provide your custom implementation to control error handling usually occurred during the poll operation before an Exchange have been created and being routed in Camel.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">PollingConsumerPoll Strategy</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>synchronous</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets whether synchronous processing should be strictly used or Camel is allowed to use asynchronous processing (if supported).</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>backoffErrorThreshold</strong> (scheduler)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The number of subsequent error polls (failed due some error) that should happen before the backoffMultipler should kick-in.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">int</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>backoffIdleThreshold</strong> (scheduler)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The number of subsequent idle polls that should happen before the backoffMultipler should kick-in.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">int</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>backoffMultiplier</strong> (scheduler)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To let the scheduled polling consumer backoff if there has been a number of subsequent idles/errors in a row. The multiplier is then the number of polls that will be skipped before the next actual attempt is happening again. When this option is in use then backoffIdleThreshold and/or backoffErrorThreshold must also be configured.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">int</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>delay</strong> (scheduler)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Milliseconds before the next poll. You can also specify time values using units such as 60s (60 seconds) 5m30s (5 minutes and 30 seconds) and 1h (1 hour).</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">500</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">long</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>greedy</strong> (scheduler)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If greedy is enabled then the ScheduledPollConsumer will run immediately again if the previous run polled 1 or more messages.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>initialDelay</strong> (scheduler)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Milliseconds before the first poll starts. You can also specify time values using units such as 60s (60 seconds) 5m30s (5 minutes and 30 seconds) and 1h (1 hour).</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">1000</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">long</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>runLoggingLevel</strong> (scheduler)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The consumer logs a start/complete log line when it polls. This option allows you to configure the logging level for that.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">TRACE</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">LoggingLevel</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>scheduledExecutorService</strong> (scheduler)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allows for configuring a custom/shared thread pool to use for the consumer. By default each consumer has its own single threaded thread pool.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ScheduledExecutor Service</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>scheduler</strong> (scheduler)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To use a cron scheduler from either camel-spring or camel-quartz2 component</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">none</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ScheduledPollConsumer Scheduler</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>schedulerProperties</strong> (scheduler)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To configure additional properties when using a custom scheduler or any of the Quartz2 Spring based scheduler.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Map</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>startScheduler</strong> (scheduler)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether the scheduler should be auto started.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">true</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>timeUnit</strong> (scheduler)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time unit for initialDelay and delay options.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">MILLISECONDS</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">TimeUnit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>useFixedDelay</strong> (scheduler)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Controls if fixed delay or fixed rate is used. See ScheduledExecutorService in JDK for details.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">true</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="_examples">Examples</h3>
<div class="ulist">
<ul>
<li>
<p><code>flatpack:fixed:foo.pzmap.xml</code> creates a fixed-width endpoint using
the <code>foo.pzmap.xml</code> file configuration.</p>
</li>
<li>
<p><code>flatpack:delim:bar.pzmap.xml</code> creates a delimited endpoint using the
<code>bar.pzmap.xml</code> file configuration.</p>
</li>
<li>
<p><code>flatpack:foo</code> creates a delimited endpoint called <code>foo</code> with no file
configuration.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_message_headers">Message Headers</h3>
<div class="paragraph">
<p>Camel will store the following headers on the IN message:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Header</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>camelFlatpackCounter</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The current row index. For <code>splitRows=false</code> the counter is the total
number of rows.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_message_body">Message Body</h3>
<div class="paragraph">
<p>The component delivers the data in the IN message as a
<code>org.apache.camel.component.flatpack.DataSetList</code> object that has
converters for <code>java.util.Map</code> or <code>java.util.List</code>.<br>
 Usually you want the <code>Map</code> if you process one row at a time
(<code>splitRows=true</code>). Use <code>List</code> for the entire content
(<code>splitRows=false</code>), where each element in the list is a <code>Map</code>.<br>
 Each <code>Map</code> contains the key for the column name and its corresponding
value.</p>
</div>
<div class="paragraph">
<p>For example to get the firstname from the sample below:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">  Map row = exchange.getIn().getBody(Map.class);
  String firstName = row.get("FIRSTNAME");</code></pre>
</div>
</div>
<div class="paragraph">
<p>However, you can also always get it as a <code>List</code> (even for
<code>splitRows=true</code>). The same example:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">  List data = exchange.getIn().getBody(List.class);
  Map row = (Map)data.get(0);
  String firstName = row.get("FIRSTNAME");</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_header_and_trailer_records">Header and Trailer records</h3>
<div class="paragraph">
<p>The header and trailer notions in Flatpack are supported. However, you
<strong>must</strong> use fixed record IDs:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><code>header</code> for the header record (must be lowercase)</p>
</li>
<li>
<p><code>trailer</code> for the trailer record (must be lowercase)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The example below illustrates this fact that we have a header and a
trailer. You can omit one or both of them if not needed.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">    &lt;RECORD id="header" startPosition="1" endPosition="3" indicator="HBT"&gt;
        &lt;COLUMN name="INDICATOR" length="3"/&gt;
        &lt;COLUMN name="DATE" length="8"/&gt;
    &lt;/RECORD&gt;

    &lt;COLUMN name="FIRSTNAME" length="35" /&gt;
    &lt;COLUMN name="LASTNAME" length="35" /&gt;
    &lt;COLUMN name="ADDRESS" length="100" /&gt;
    &lt;COLUMN name="CITY" length="100" /&gt;
    &lt;COLUMN name="STATE" length="2" /&gt;
    &lt;COLUMN name="ZIP" length="5" /&gt;

    &lt;RECORD id="trailer" startPosition="1" endPosition="3" indicator="FBT"&gt;
        &lt;COLUMN name="INDICATOR" length="3"/&gt;
        &lt;COLUMN name="STATUS" length="7"/&gt;
    &lt;/RECORD&gt;</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_using_the_endpoint">Using the endpoint</h3>
<div class="paragraph">
<p>A common use case is sending a file to this endpoint for further
processing in a separate route. For example:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">  &lt;camelContext xmlns="http://activemq.apache.org/camel/schema/spring"&gt;
    &lt;route&gt;
      &lt;from uri="file://someDirectory"/&gt;
      &lt;to uri="flatpack:foo"/&gt;
    &lt;/route&gt;

    &lt;route&gt;
      &lt;from uri="flatpack:foo"/&gt;
      ...
    &lt;/route&gt;
  &lt;/camelContext&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>You can also convert the payload of each message created to a <code>Map</code> for
easy <a href="bean-integration.html">Bean Integration</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_flatpack_dataformat">Flatpack DataFormat</h3>
<div class="paragraph">
<p>The <a href="flatpack.html">Flatpack</a> component ships with the Flatpack data
format that can be used to format between fixed width or delimited text
messages to a <code>List</code> of rows as <code>Map</code>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>marshal = from <code>List&lt;Map&lt;String, Object&gt;&gt;</code> to <code>OutputStream</code> (can be
converted to <code>String</code>)</p>
</li>
<li>
<p>unmarshal = from <code>java.io.InputStream</code> (such as a <code>File</code> or <code>String</code>)
to a <code>java.util.List</code> as an
<code>org.apache.camel.component.flatpack.DataSetList</code> instance.<br>
 The result of the operation will contain all the data. If you need to
process each row one by one you can split the exchange, using
<a href="splitter.html">Splitter</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Notice:</strong> The Flatpack library does currently not support header and
trailers for the marshal operation.</p>
</div>
</div>
<div class="sect2">
<h3 id="_options">Options</h3>
<div class="paragraph">
<p>The data format has the following options:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 10%;">
<col style="width: 10%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Default</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>definition</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>null</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The flatpack pzmap configuration file. Can be omitted in simpler
situations, but its preferred to use the pzmap.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>fixed</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>false</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delimited or fixed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>ignoreFirstRecord</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>true</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether the first line is ignored for delimited files (for the column
headers).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>textQualifier</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>"</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the text is qualified with a char such as <code>"</code>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>delimiter</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>,</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The delimiter char (could be <code>;</code> <code>,</code> or similar)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>parserFactory</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>null</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Uses the default Flatpack parser factory.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>allowShortLines</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>false</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Camel 2.9.7 and 2.10.5 onwards</strong>: Allows for lines to be shorter than
expected and ignores the extra characters.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>ignoreExtraColumns</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>false</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Camel 2.9.7 and 2.10.5 onwards</strong>: Allows for lines to be longer than
expected and ignores the extra characters.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_usage">Usage</h3>
<div class="paragraph">
<p>To use the data format, simply instantiate an instance and invoke the
marshal or unmarshal operation in the route builder:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">  FlatpackDataFormat fp = new FlatpackDataFormat();
  fp.setDefinition(new ClassPathResource("INVENTORY-Delimited.pzmap.xml"));
  ...
  from("file:order/in").unmarshal(df).to("seda:queue:neworder");</code></pre>
</div>
</div>
<div class="paragraph">
<p>The sample above will read files from the <code>order/in</code> folder and
unmarshal the input using the Flatpack configuration file
<code>INVENTORY-Delimited.pzmap.xml</code> that configures the structure of the
files. The result is a <code>DataSetList</code> object we store on the SEDA queue.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">FlatpackDataFormat df = new FlatpackDataFormat();
df.setDefinition(new ClassPathResource("PEOPLE-FixedLength.pzmap.xml"));
df.setFixed(true);
df.setIgnoreFirstRecord(false);

from("seda:people").marshal(df).convertBodyTo(String.class).to("jms:queue:people");</code></pre>
</div>
</div>
<div class="paragraph">
<p>In the code above we marshal the data from a Object representation as a
<code>List</code> of rows as <code>Maps</code>. The rows as <code>Map</code> contains the column name as
the key, and the the corresponding value. This structure can be created
in Java code from e.g. a processor. We marshal the data according to the
Flatpack format and convert the result as a <code>String</code> object and store it
on a JMS queue.</p>
</div>
</div>
<div class="sect2">
<h3 id="_dependencies">Dependencies</h3>
<div class="paragraph">
<p>To use Flatpack in your camel routes you need to add the a dependency on
<strong>camel-flatpack</strong> which implements this data format.</p>
</div>
<div class="paragraph">
<p>If you use maven you could just add the following to your pom.xml,
substituting the version number for the latest &amp; greatest release (see
<a href="download.html">the download page for the latest versions</a>).</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">&lt;dependency&gt;
  &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
  &lt;artifactId&gt;camel-flatpack&lt;/artifactId&gt;
  &lt;version&gt;x.x.x&lt;/version&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="ulist">
<ul>
<li>
<p><a href="configuring-camel.html">Configuring Camel</a></p>
</li>
<li>
<p><a href="component.html">Component</a></p>
</li>
<li>
<p><a href="endpoint.html">Endpoint</a></p>
</li>
<li>
<p><a href="getting-started.html">Getting Started</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>

    
<footer class='entry-footer'>
  
    
  
</footer>


  </article>

  
    
<nav class='entry-nav'>
  <div class='entry-nav-links'><div class='prev-entry'>
      <a href='https://camel.apache.org/components/2.20.0/flatpack-dataformat/'>
        <span aria-hidden='true'><svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="20" y1="12" x2="4" y2="12"/>
  <polyline points="10 18 4 12 10 6"/>
  
</svg>
 Previous</span>
        <span class='screen-reader'>Previous post: </span></a>
    </div><div class='next-entry'>
      <a href='https://camel.apache.org/components/2.20.0/facebook-component/'>
        <span class='screen-reader'>Next post: </span><span aria-hidden='true'>Next <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="4" y1="12" x2="20" y2="12"/>
  <polyline points="14 6 20 12 14 18"/>
  
</svg>
</span>
      </a>
    </div></div>
</nav>


  

  
    <div class='comments-container'>
  
</div>

  
</main>

    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <div class='social'>
          <nav aria-label='Social Menu'>
  <ul class='social-menu'>
  
  </ul>
</nav>

        </div>

        <div class='copyright'>
          <p>
    
      
    
  
  &copy; 2004-2018 The Apache Software Foundation.
</p>
<p>
  Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>

        </div>
      </div>
    </footer>

  </div>

  <script src='/js/site.36395d52b78f93dc7cc7.js'></script>
  

</body>

</html>

