<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='Bean Validator Component Available as of Camel version 2.3
 The Validator component performs bean validation of the message body using the Java Bean Validation API (JSR 303). Camel uses the reference implementation, which is Hibernate Validator.
 Maven users will need to add the following dependency to their pom.xml for this component:
 &lt;dependency&gt; &lt;groupId&gt;org.apache.camel&lt;/groupId&gt; &lt;artifactId&gt;camel-bean-validator&lt;/artifactId&gt; &lt;version&gt;x.y.z&lt;/version&gt; &lt;!-- use the same version as your Camel core version --&gt; &lt;/dependency&gt;   URI format bean-validator:label[?'>

<meta property='og:title' content=' • Apache Camel: Integration that you want'>
<meta property='og:description' content='Bean Validator Component Available as of Camel version 2.3
 The Validator component performs bean validation of the message body using the Java Bean Validation API (JSR 303). Camel uses the reference implementation, which is Hibernate Validator.
 Maven users will need to add the following dependency to their pom.xml for this component:
 &lt;dependency&gt; &lt;groupId&gt;org.apache.camel&lt;/groupId&gt; &lt;artifactId&gt;camel-bean-validator&lt;/artifactId&gt; &lt;version&gt;x.y.z&lt;/version&gt; &lt;!-- use the same version as your Camel core version --&gt; &lt;/dependency&gt;   URI format bean-validator:label[?'>
<meta property='og:url' content='https://camel.apache.org/components/2.20.0/bean-validator-component/'>
<meta property='og:site_name' content='Apache Camel: Integration that you want'>
<meta property='og:type' content='article'><meta property='article:section' content='Components'>

  <base href='https://camel.apache.org/'>
  <title> • Apache Camel: Integration that you want</title>
  <link rel='canonical' href='https://camel.apache.org/components/2.20.0/bean-validator-component/'>
  <link href='' rel='alternate' type='application/rss+xml' title='Apache Camel: Integration that you want' />
  <link rel='icon' href='/favicon.ico'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/site.142da777720723dd4ecadc8e70926967.css'>



</head>


<body class='page'>
  <div class='u-full-width u-max-full-width container'>
    <header class='header'>
      <div class='site-header'>
        
        <p class='title'>Apache Camel: Integration that you want</p>
        
        <p>Apache Camel framework for easy integration</p>
      </div>
    </header>

    <nav class='navbar' aria-label='Main Menu'>
  <div class='container'>
    <ul class='navbar-list'>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/about/'>About</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/blog/'>News</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/getting-started/'>Getting started</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/manual/'>Manual</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/components/'>Components</a>
      </li>
      
    </ul>
  </div>
</nav>



<main class='row content'>
  <article lang='en' class='entry'>
    <header class='entry-header'>
  <div class='entry-info'>
    <h1 class='entry-title title'></h1>
    
  </div>
  
<div class='meta'>
  <span class='posted-on'>
    <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
  <line x1="16" y1="2" x2="16" y2="6"/>
  <line x1="8" y1="2" x2="8" y2="6"/>
  <line x1="3" y1="10" x2="21" y2="10"/>
  
</svg>

    <span class='screen-reader'>Posted on </span>
    <time class='date' datetime='0001-01-01T00:00:00Z'>0001, Jan 01</time>
  </span>
  
</div>


</header>

    <div class='entry-content'>
  <div class="sect1">
<h2 id="_bean_validator_component">Bean Validator Component</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Available as of Camel version 2.3</strong></p>
</div>
<div class="paragraph">
<p>The Validator component performs bean validation of the message body
using the Java Bean Validation API
(<a href="http://jcp.org/en/jsr/detail?id=303">JSR 303</a>). Camel uses the reference
implementation, which is
<a href="http://docs.jboss.org/hibernate/validator/4.3/reference/en-US/html_single/">Hibernate
Validator</a>.</p>
</div>
<div class="paragraph">
<p>Maven users will need to add the following dependency to their <code>pom.xml</code>
for this component:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;dependency&gt;
    &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
    &lt;artifactId&gt;camel-bean-validator&lt;/artifactId&gt;
    &lt;version&gt;x.y.z&lt;/version&gt;
    &lt;!-- use the same version as your Camel core version --&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
<div class="sect2">
<h3 id="_uri_format">URI format</h3>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">bean-validator:label[?options]</code></pre>
</div>
</div>
<div class="paragraph">
<p>or</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">bean-validator://label[?options]</code></pre>
</div>
</div>
<div class="paragraph">
<p>Where <strong>label</strong> is an arbitrary text value describing the endpoint.<br>
 You can append query options to the URI in the following format,
?option=value&amp;option=value&amp;&#8230;&#8203;</p>
</div>
</div>
<div class="sect2">
<h3 id="_uri_options">URI Options</h3>
<div class="paragraph">
<p>The Bean Validator component has no options.</p>
</div>
<div class="paragraph">
<p>The Bean Validator endpoint is configured using URI syntax:</p>
</div>
<div class="literalblock">
<div class="content">
<pre>bean-validator:label</pre>
</div>
</div>
<div class="paragraph">
<p>with the following path and query parameters:</p>
</div>
<div class="sect3">
<h4 id="_path_parameters_1_parameters">Path Parameters (1 parameters):</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Required</strong> Where label is an arbitrary text value describing the endpoint</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_query_parameters_6_parameters">Query Parameters (6 parameters):</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>constraintValidatorFactory</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To use a custom ConstraintValidatorFactory</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ConstraintValidator Factory</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>group</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To use a custom validation group</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">javax.validation.groups.Default</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>messageInterpolator</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To use a custom MessageInterpolator</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">MessageInterpolator</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>traversableResolver</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To use a custom TraversableResolver</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">TraversableResolver</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>validationProviderResolver</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To use a a custom ValidationProviderResolver</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ValidationProvider Resolver</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>synchronous</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets whether synchronous processing should be strictly used or Camel is allowed to use asynchronous processing (if supported).</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="_osgi_deployment">OSGi deployment</h3>
<div class="paragraph">
<p>To use Hibernate Validator in the OSGi environment use dedicated
<code>ValidationProviderResolver</code> implementation, just as
<code>org.apache.camel.component.bean.validator.HibernateValidationProviderResolver</code>.
The snippet below demonstrates this approach. Keep in mind that you can
use <code>HibernateValidationProviderResolver</code> starting from the Camel
2.13.0.</p>
</div>
<div class="paragraph">
<p><strong>Using HibernateValidationProviderResolver</strong></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">from("direct:test").
  to("bean-validator://ValidationProviderResolverTest?validationProviderResolver=#myValidationProviderResolver");

...

&lt;bean id="myValidationProviderResolver" class="org.apache.camel.component.bean.validator.HibernateValidationProviderResolver"/&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>If no custom <code>ValidationProviderResolver</code> is defined and the validator
component has been deployed into the OSGi environment,
the <code>HibernateValidationProviderResolver</code> will be automatically used.</p>
</div>
</div>
<div class="sect2">
<h3 id="_example">Example</h3>
<div class="paragraph">
<p>Assumed we have a java bean with the following annotations</p>
</div>
<div class="paragraph">
<p><strong>Car.java</strong></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">public class Car {

    @NotNull
    private String manufacturer;

    @NotNull
    @Size(min = 5, max = 14, groups = OptionalChecks.class)
    private String licensePlate;

    // getter and setter
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>and an interface definition for our custom validation group</p>
</div>
<div class="paragraph">
<p><strong>OptionalChecks.java</strong></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">public interface OptionalChecks {
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>with the following Camel route, only the <strong>@NotNull</strong> constraints on the
attributes manufacturer and licensePlate will be validated (Camel uses
the default group <code>javax.validation.groups.Default</code>).</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">from("direct:start")
.to("bean-validator://x")
.to("mock:end")</code></pre>
</div>
</div>
<div class="paragraph">
<p>If you want to check the constraints from the group <code>OptionalChecks</code>,
you have to define the route like this</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">from("direct:start")
.to("bean-validator://x?group=OptionalChecks")
.to("mock:end")</code></pre>
</div>
</div>
<div class="paragraph">
<p>If you want to check the constraints from both groups, you have to
define a new interface first</p>
</div>
<div class="paragraph">
<p><strong>AllChecks.java</strong></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">@GroupSequence({Default.class, OptionalChecks.class})
public interface AllChecks {
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>and then your route definition should looks like this</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">from("direct:start")
.to("bean-validator://x?group=AllChecks")
.to("mock:end")</code></pre>
</div>
</div>
<div class="paragraph">
<p>And if you have to provide your own message interpolator, traversable
resolver and constraint validator factory, you have to write a route
like this</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">&lt;bean id="myMessageInterpolator" class="my.ConstraintValidatorFactory" /&gt;
&lt;bean id="myTraversableResolver" class="my.TraversableResolver" /&gt;
&lt;bean id="myConstraintValidatorFactory" class="my.ConstraintValidatorFactory" /&gt;

from("direct:start")
.to("bean-validator://x?group=AllChecks&amp;messageInterpolator=#myMessageInterpolator
&amp;traversableResolver=#myTraversableResolver&amp;constraintValidatorFactory=#myConstraintValidatorFactory")
.to("mock:end")</code></pre>
</div>
</div>
<div class="paragraph">
<p>It&#8217;s also possible to describe your constraints as XML and not as Java
annotations. In this case, you have to provide the file
<code>META-INF/validation.xml</code> which could looks like this</p>
</div>
<div class="paragraph">
<p><strong>validation.xml</strong></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;validation-config
    xmlns="http://jboss.org/xml/ns/javax/validation/configuration"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://jboss.org/xml/ns/javax/validation/configuration"&gt;
    &lt;default-provider&gt;org.hibernate.validator.HibernateValidator&lt;/default-provider&gt;
    &lt;message-interpolator&gt;org.hibernate.validator.engine.ResourceBundleMessageInterpolator&lt;/message-interpolator&gt;
    &lt;traversable-resolver&gt;org.hibernate.validator.engine.resolver.DefaultTraversableResolver&lt;/traversable-resolver&gt;
    &lt;constraint-validator-factory&gt;org.hibernate.validator.engine.ConstraintValidatorFactoryImpl&lt;/constraint-validator-factory&gt;

    &lt;constraint-mapping&gt;/constraints-car.xml&lt;/constraint-mapping&gt;
&lt;/validation-config&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>and the <code>constraints-car.xml</code> file</p>
</div>
<div class="paragraph">
<p><strong>constraints-car.xml</strong></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;constraint-mappings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://jboss.org/xml/ns/javax/validation/mapping validation-mapping-1.0.xsd"
    xmlns="http://jboss.org/xml/ns/javax/validation/mapping"&gt;
    &lt;default-package&gt;org.apache.camel.component.bean.validator&lt;/default-package&gt;

    &lt;bean class="CarWithoutAnnotations" ignore-annotations="true"&gt;
        &lt;field name="manufacturer"&gt;
            &lt;constraint annotation="javax.validation.constraints.NotNull" /&gt;
        &lt;/field&gt;

        &lt;field name="licensePlate"&gt;
            &lt;constraint annotation="javax.validation.constraints.NotNull" /&gt;

            &lt;constraint annotation="javax.validation.constraints.Size"&gt;
                &lt;groups&gt;
                    &lt;value&gt;org.apache.camel.component.bean.validator.OptionalChecks&lt;/value&gt;
                &lt;/groups&gt;
                &lt;element name="min"&gt;5&lt;/element&gt;
                &lt;element name="max"&gt;14&lt;/element&gt;
            &lt;/constraint&gt;
        &lt;/field&gt;
    &lt;/bean&gt;
&lt;/constraint-mappings&gt;</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="ulist">
<ul>
<li>
<p><a href="configuring-camel.html">Configuring Camel</a></p>
</li>
<li>
<p><a href="component.html">Component</a></p>
</li>
<li>
<p><a href="endpoint.html">Endpoint</a></p>
</li>
<li>
<p><a href="getting-started.html">Getting Started</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>

    
<footer class='entry-footer'>
  
    
  
</footer>


  </article>

  
    
<nav class='entry-nav'>
  <div class='entry-nav-links'><div class='prev-entry'>
      <a href='https://camel.apache.org/components/2.20.0/beanio-dataformat/'>
        <span aria-hidden='true'><svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="20" y1="12" x2="4" y2="12"/>
  <polyline points="10 18 4 12 10 6"/>
  
</svg>
 Previous</span>
        <span class='screen-reader'>Previous post: </span></a>
    </div><div class='next-entry'>
      <a href='https://camel.apache.org/components/2.20.0/base64-dataformat/'>
        <span class='screen-reader'>Next post: </span><span aria-hidden='true'>Next <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="4" y1="12" x2="20" y2="12"/>
  <polyline points="14 6 20 12 14 18"/>
  
</svg>
</span>
      </a>
    </div></div>
</nav>


  

  
    <div class='comments-container'>
  
</div>

  
</main>

    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <div class='social'>
          <nav aria-label='Social Menu'>
  <ul class='social-menu'>
  
  </ul>
</nav>

        </div>

        <div class='copyright'>
          <p>
    
      
    
  
  &copy; 2004-2018 The Apache Software Foundation.
</p>
<p>
  Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>

        </div>
      </div>
    </footer>

  </div>

  <script src='/js/site.36395d52b78f93dc7cc7.js'></script>
  

</body>

</html>

