<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='Twilio Component Available as of Camel version 2.20
 The Twilio component provides access to Version 2010-04-01 of Twilio REST APIs accessible using Twilio Java SDK.
 Maven users will need to add the following dependency to their pom.xml for this component:
 &lt;dependency&gt; &lt;groupId&gt;org.apache.camel&lt;/groupId&gt; &lt;artifactId&gt;camel-twilio&lt;/artifactId&gt; &lt;version&gt;${camel-version}&lt;/version&gt; &lt;/dependency&gt;   Twilio Options The Twilio component supports 3 options which are listed below.
     Name Description Default Type     configuration (advanced)'>

<meta property='og:title' content=' • Apache Camel: Integration that you want'>
<meta property='og:description' content='Twilio Component Available as of Camel version 2.20
 The Twilio component provides access to Version 2010-04-01 of Twilio REST APIs accessible using Twilio Java SDK.
 Maven users will need to add the following dependency to their pom.xml for this component:
 &lt;dependency&gt; &lt;groupId&gt;org.apache.camel&lt;/groupId&gt; &lt;artifactId&gt;camel-twilio&lt;/artifactId&gt; &lt;version&gt;${camel-version}&lt;/version&gt; &lt;/dependency&gt;   Twilio Options The Twilio component supports 3 options which are listed below.
     Name Description Default Type     configuration (advanced)'>
<meta property='og:url' content='https://camel.apache.org/components/2.20.0/twilio-component/'>
<meta property='og:site_name' content='Apache Camel: Integration that you want'>
<meta property='og:type' content='article'><meta property='article:section' content='Components'>

  <base href='https://camel.apache.org/'>
  <title> • Apache Camel: Integration that you want</title>
  <link rel='canonical' href='https://camel.apache.org/components/2.20.0/twilio-component/'>
  <link href='' rel='alternate' type='application/rss+xml' title='Apache Camel: Integration that you want' />
  <link rel='icon' href='/favicon.ico'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/site.142da777720723dd4ecadc8e70926967.css'>



</head>


<body class='page'>
  <div class='u-full-width u-max-full-width container'>
    <header class='header'>
      <div class='site-header'>
        
        <p class='title'>Apache Camel: Integration that you want</p>
        
        <p>Apache Camel framework for easy integration</p>
      </div>
    </header>

    <nav class='navbar' aria-label='Main Menu'>
  <div class='container'>
    <ul class='navbar-list'>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/about/'>About</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/blog/'>News</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/getting-started/'>Getting started</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/manual/'>Manual</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/components/'>Components</a>
      </li>
      
    </ul>
  </div>
</nav>



<main class='row content'>
  <article lang='en' class='entry'>
    <header class='entry-header'>
  <div class='entry-info'>
    <h1 class='entry-title title'></h1>
    
  </div>
  
<div class='meta'>
  <span class='posted-on'>
    <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
  <line x1="16" y1="2" x2="16" y2="6"/>
  <line x1="8" y1="2" x2="8" y2="6"/>
  <line x1="3" y1="10" x2="21" y2="10"/>
  
</svg>

    <span class='screen-reader'>Posted on </span>
    <time class='date' datetime='0001-01-01T00:00:00Z'>0001, Jan 01</time>
  </span>
  
</div>


</header>

    <div class='entry-content'>
  <div class="sect1">
<h2 id="_twilio_component">Twilio Component</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Available as of Camel version 2.20</strong></p>
</div>
<div class="paragraph">
<p>The Twilio component provides access to Version 2010-04-01 of Twilio REST APIs accessible
using <a href="https://github.com/twilio/twilio-java">Twilio Java SDK</a>.</p>
</div>
<div class="paragraph">
<p>Maven users will need to add the following dependency to their pom.xml
for this component:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">    &lt;dependency&gt;
        &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
        &lt;artifactId&gt;camel-twilio&lt;/artifactId&gt;
        &lt;version&gt;${camel-version}&lt;/version&gt;
    &lt;/dependency&gt;</code></pre>
</div>
</div>
<div class="sect2">
<h3 id="_twilio_options">Twilio Options</h3>
<div class="paragraph">
<p>The Twilio component supports 3 options which are listed below.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>configuration</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To use the shared configuration</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">TwilioConfiguration</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>restClient</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To use the shared REST client</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">TwilioRestClient</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>resolveProperty Placeholders</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether the component should resolve property placeholders on itself when starting. Only properties which are of String type can use property placeholders.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">true</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>The Twilio endpoint is configured using URI syntax:</p>
</div>
<div class="literalblock">
<div class="content">
<pre>twilio:apiName/methodName</pre>
</div>
</div>
<div class="paragraph">
<p>with the following path and query parameters:</p>
</div>
<div class="sect3">
<h4 id="_path_parameters_2_parameters">Path Parameters (2 parameters):</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>apiName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Required</strong> What kind of operation to perform</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">TwilioApiName</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>methodName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Required</strong> What sub operation to use for the selected operation</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_query_parameters_8_parameters">Query Parameters (8 parameters):</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>inBody</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets the name of a parameter to be passed in the exchange In Body</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bridgeErrorHandler</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allows for bridging the consumer to the Camel routing Error Handler which mean any exceptions occurred while the consumer is trying to pickup incoming messages or the likes will now be processed as a message and handled by the routing Error Handler. By default the consumer will use the org.apache.camel.spi.ExceptionHandler to deal with exceptions that will be logged at WARN or ERROR level and ignored.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>exceptionHandler</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To let the consumer use a custom ExceptionHandler. Notice if the option bridgeErrorHandler is enabled then this options is not in use. By default the consumer will deal with exceptions that will be logged at WARN or ERROR level and ignored.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ExceptionHandler</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>exchangePattern</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets the exchange pattern when the consumer creates an exchange.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ExchangePattern</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>synchronous</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets whether synchronous processing should be strictly used or Camel is allowed to use asynchronous processing (if supported).</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>accountSid</strong> (security)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The account SID to use.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>password</strong> (security)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auth token for the account.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>username</strong> (security)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The account to use.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="_uri_format">URI format</h3>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">    twilio://endpoint-prefix/endpoint?[options]</code></pre>
</div>
</div>
<div class="paragraph">
<p>Endpoint prefix can be one of:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>account</p>
</li>
<li>
<p>address</p>
</li>
<li>
<p>address-dependent-phone-number</p>
</li>
<li>
<p>application</p>
</li>
<li>
<p>available-phone-number-country</p>
</li>
<li>
<p>available-phone-number-country-local</p>
</li>
<li>
<p>available-phone-number-country-mobile</p>
</li>
<li>
<p>available-phone-number-country-toll-free</p>
</li>
<li>
<p>call</p>
</li>
<li>
<p>call-feedback</p>
</li>
<li>
<p>call-feedback-summary</p>
</li>
<li>
<p>call-notification</p>
</li>
<li>
<p>call-recording</p>
</li>
<li>
<p>conference</p>
</li>
<li>
<p>conference-participant</p>
</li>
<li>
<p>connect-app</p>
</li>
<li>
<p>incoming-phone-number</p>
</li>
<li>
<p>incoming-phone-number-local</p>
</li>
<li>
<p>incoming-phone-number-mobile</p>
</li>
<li>
<p>incoming-phone-number-toll-free</p>
</li>
<li>
<p>key</p>
</li>
<li>
<p>message</p>
</li>
<li>
<p>message-feedback</p>
</li>
<li>
<p>message-media</p>
</li>
<li>
<p>new-key</p>
</li>
<li>
<p>new-signing-key</p>
</li>
<li>
<p>notification</p>
</li>
<li>
<p>outgoing-caller-id</p>
</li>
<li>
<p>queue</p>
</li>
<li>
<p>queue-member</p>
</li>
<li>
<p>recording</p>
</li>
<li>
<p>recording-add-on-result</p>
</li>
<li>
<p>recording-add-on-result-payload</p>
</li>
<li>
<p>recording-transcription</p>
</li>
<li>
<p>short-code</p>
</li>
<li>
<p>signing-key</p>
</li>
<li>
<p>sip-credential-list</p>
</li>
<li>
<p>sip-credential-list-credential</p>
</li>
<li>
<p>sip-domain</p>
</li>
<li>
<p>sip-domain-credential-list-mapping</p>
</li>
<li>
<p>sip-domain-ip-access-control-list-mapping</p>
</li>
<li>
<p>sip-ip-access-control-list</p>
</li>
<li>
<p>sip-ip-access-control-list-ip-address</p>
</li>
<li>
<p>token</p>
</li>
<li>
<p>transcription</p>
</li>
<li>
<p>usage-record</p>
</li>
<li>
<p>usage-record-all-time</p>
</li>
<li>
<p>usage-record-daily</p>
</li>
<li>
<p>usage-record-last-month</p>
</li>
<li>
<p>usage-record-monthly</p>
</li>
<li>
<p>usage-record-this-month</p>
</li>
<li>
<p>usage-record-today</p>
</li>
<li>
<p>usage-record-yearly</p>
</li>
<li>
<p>usage-record-yesterday</p>
</li>
<li>
<p>usage-trigger</p>
</li>
<li>
<p>validation-request</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_producer_endpoints">Producer Endpoints:</h3>
<div class="paragraph">
<p>Producer endpoints can use endpoint prefixes followed by endpoint names
and associated options described next. A shorthand alias can be used for
all of the endpoints. The endpoint URI MUST contain a prefix.</p>
</div>
<div class="paragraph">
<p>Any of the endpoint options can be provided in either the endpoint URI,
or dynamically in a message header. The message header name must be of
the format <strong><code>CamelTwilio.&lt;option&gt;</code></strong>. Note that the <strong><code>inBody</code></strong> option
overrides message header, i.e. the endpoint option <strong><code>inBody=option</code></strong>
would override a <strong><code>CamelTwilio.option</code></strong> header.</p>
</div>
<div class="paragraph">
<p>Endpoint can be one of:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Endpoint</th>
<th class="tableblock halign-left valign-top">Shorthand Alias</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>creator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">create</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Make the request to the Twilio API to perform the create</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>deleter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">delete</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Make the request to the Twilio API to perform the delete</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>fetcher</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">fetch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Make the request to the Twilio API to perform the fetch</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>reader</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">read</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Make the request to the Twilio API to perform the read</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>updater</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">update</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Make the request to the Twilio API to perform the update</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Available endpoints differ depending on the endpoint prefixes.</p>
</div>
<div class="paragraph">
<p>For more information on the endpoints and options see API documentation at:
<a href="https://twilio.github.io/twilio-java/7.9.1/index.html" class="bare">https://twilio.github.io/twilio-java/7.9.1/index.html</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_consumer_endpoints">Consumer Endpoints:</h3>
<div class="paragraph">
<p>Any of the producer endpoints can be used as a consumer endpoint.
Consumer endpoints can use
<a href="http://camel.apache.org/polling-consumer.html#PollingConsumer-ScheduledPollConsumerOptions">Scheduled
Poll Consumer Options</a> with a <code>consumer.</code> prefix to schedule endpoint
invocation. Consumer endpoints that return an array or collection will
generate one exchange per element, and their routes will be executed
once for each exchange.</p>
</div>
<div class="paragraph">
<p>If you want to receive calls or messages from Twilio and respond to them
using a Camel consumer endpoint, you can use other HTTP-based components
such as <strong>camel-servlet</strong>, <strong>camel-undertow</strong>, <strong>camel-jetty</strong>, and <strong>camel-netty-http</strong>
to respond with <a href="https://www.twilio.com/docs/api/twiml">TwiML</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_message_header">Message header</h3>
<div class="paragraph">
<p>Any of the options can be provided in a message header for producer
endpoints with <strong>CamelTwilio.</strong> prefix.</p>
</div>
</div>
<div class="sect2">
<h3 id="_message_body">Message body</h3>
<div class="paragraph">
<p>All result message bodies utilize objects provided by the Twilio Java SDK.
Producer endpoints can specify the option name for incoming message body
in the <strong>inBody</strong> endpoint parameter.</p>
</div>
</div>
</div>
</div>
</div>

    
<footer class='entry-footer'>
  
    
  
</footer>


  </article>

  
    
<nav class='entry-nav'>
  <div class='entry-nav-links'><div class='prev-entry'>
      <a href='https://camel.apache.org/components/2.20.0/twitter-component/'>
        <span aria-hidden='true'><svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="20" y1="12" x2="4" y2="12"/>
  <polyline points="10 18 4 12 10 6"/>
  
</svg>
 Previous</span>
        <span class='screen-reader'>Previous post: </span></a>
    </div><div class='next-entry'>
      <a href='https://camel.apache.org/components/2.20.0/tika-component/'>
        <span class='screen-reader'>Next post: </span><span aria-hidden='true'>Next <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="4" y1="12" x2="20" y2="12"/>
  <polyline points="14 6 20 12 14 18"/>
  
</svg>
</span>
      </a>
    </div></div>
</nav>


  

  
    <div class='comments-container'>
  
</div>

  
</main>

    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <div class='social'>
          <nav aria-label='Social Menu'>
  <ul class='social-menu'>
  
  </ul>
</nav>

        </div>

        <div class='copyright'>
          <p>
    
      
    
  
  &copy; 2004-2018 The Apache Software Foundation.
</p>
<p>
  Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>

        </div>
      </div>
    </footer>

  </div>

  <script src='/js/site.36395d52b78f93dc7cc7.js'></script>
  

</body>

</html>

