<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='ServletListener Component Available as of Camel 2.11
 This component is used for bootstrapping Camel applications in web applications. For example beforehand people would have to find their own way of bootstrapping Camel, or rely on 3rd party frameworks such as Spring to do it.
   Note  Sidebar This component supports Servlet 2.x onwards, which mean it works also in older web containers; which is the goal of this component.'>

<meta property='og:title' content=' • Apache Camel: Integration that you want'>
<meta property='og:description' content='ServletListener Component Available as of Camel 2.11
 This component is used for bootstrapping Camel applications in web applications. For example beforehand people would have to find their own way of bootstrapping Camel, or rely on 3rd party frameworks such as Spring to do it.
   Note  Sidebar This component supports Servlet 2.x onwards, which mean it works also in older web containers; which is the goal of this component.'>
<meta property='og:url' content='https://camel.apache.org/components/2.20.0/servletlistener/'>
<meta property='og:site_name' content='Apache Camel: Integration that you want'>
<meta property='og:type' content='article'><meta property='article:section' content='Components'>

  <base href='https://camel.apache.org/'>
  <title> • Apache Camel: Integration that you want</title>
  <link rel='canonical' href='https://camel.apache.org/components/2.20.0/servletlistener/'>
  <link href='' rel='alternate' type='application/rss+xml' title='Apache Camel: Integration that you want' />
  <link rel='icon' href='/favicon.ico'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/site.142da777720723dd4ecadc8e70926967.css'>



</head>


<body class='page'>
  <div class='u-full-width u-max-full-width container'>
    <header class='header'>
      <div class='site-header'>
        
        <p class='title'>Apache Camel: Integration that you want</p>
        
        <p>Apache Camel framework for easy integration</p>
      </div>
    </header>

    <nav class='navbar' aria-label='Main Menu'>
  <div class='container'>
    <ul class='navbar-list'>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/about/'>About</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/blog/'>News</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/getting-started/'>Getting started</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/manual/'>Manual</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/components/'>Components</a>
      </li>
      
    </ul>
  </div>
</nav>



<main class='row content'>
  <article lang='en' class='entry'>
    <header class='entry-header'>
  <div class='entry-info'>
    <h1 class='entry-title title'></h1>
    
  </div>
  
<div class='meta'>
  <span class='posted-on'>
    <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
  <line x1="16" y1="2" x2="16" y2="6"/>
  <line x1="8" y1="2" x2="8" y2="6"/>
  <line x1="3" y1="10" x2="21" y2="10"/>
  
</svg>

    <span class='screen-reader'>Posted on </span>
    <time class='date' datetime='0001-01-01T00:00:00Z'>0001, Jan 01</time>
  </span>
  
</div>


</header>

    <div class='entry-content'>
  <div class="sect2">
<h3 id="ServletListenerComponent-ServletListenerComponent">ServletListener Component</h3>
<div class="paragraph">
<p><strong>Available as of Camel 2.11</strong></p>
</div>
<div class="paragraph">
<p>This component is used for bootstrapping Camel applications in web
applications. For example beforehand people would have to find their own
way of bootstrapping Camel, or rely on 3rd party frameworks such as
Spring to do it.</p>
</div>
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<div class="title">Note</div>
</td>
<td class="content">
<strong>Sidebar</strong>
This component supports Servlet 2.x onwards, which mean it works also in
older web containers; which is the goal of this component.
Though Servlet 2.x requires to use a web.xml file as configuration.
For Servlet 3.x containers you can use annotation driven configuration
to boostrap Camel using the @WebListener, and implement your own class,
where you boostrap Camel. Doing this still puts the challenge how to let
end users easily configure Camel, which you get for free with the old
school web.xml file.
</td>
</tr>
</table>
</div>
<div class="paragraph">
<p>Maven users will need to add the following dependency to their <code>pom.xml</code>
for this component:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;dependency&gt;
    &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
    &lt;artifactId&gt;camel-servletlistener&lt;/artifactId&gt;
    &lt;version&gt;x.x.x&lt;/version&gt;
    &lt;!-- use the same version as your Camel core version --&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
<div class="sect3">
<h4 id="ServletListenerComponent-Using">Using</h4>
<div class="paragraph">
<p>You would need to chose one of the following implementations of the
abstract class
<code>org.apache.camel.component.servletlistener.CamelServletContextListener</code>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><code>JndiCamelServletContextListener</code> which uses the <code>JndiRegistry</code> to
leverage JNDI for its registry.</p>
</li>
<li>
<p><code>SimpleCamelServletContextListener</code> which uses the <code>SimpleRegistry</code> to
leverage a <code>java.util.Map</code> as its registry.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>To use this you need to configure the
<code>org.apache.camel.component.servletlistener.CamelServletContextListener</code>
in the <code>WEB-INF/web.xml</code> file as shown below:</p>
</div>
</div>
<div class="sect3">
<h4 id="ServletListenerComponent-Options">Options</h4>
<div class="paragraph">
<p>The
<code>org.apache.camel.component.servletlistener.CamelServletContextListener</code>
supports the following options which can be configured as context-param
in the web.xml file.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 10%;">
<col style="width: 20%;">
<col style="width: 70%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">propertyPlaceholder.XXX</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To configure <a href="using-propertyplaceholder.html">property placeholders</a>
in Camel. You should prefix the option with "propertyPlaceholder.", for
example to configure the location, use propertyPlaceholder.location as
name. You can configure all the options from the
<a href="properties.html">Properties</a> component.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">jmx.XXX</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To configure <a href="camel-jmx.html">JMX</a>. You should prefix the option with
"jmx.", for example to disable JMX, use jmx.disabled as name. You can
configure all the options from <code>org.apache.camel.spi.ManagementAgent</code>.
As well the options mentioned on the <a href="camel-jmx.html">JMX</a> page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>String</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To configure the name of the <a href="camelcontext.html">CamelContext</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">messageHistory</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Boolean</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Camel 2.12.2:</strong> Whether to enable or disable
<a href="message-history.html">Message History</a> (enabled by default).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">streamCache</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Boolean</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether to enable <a href="stream-caching.html">Stream caching</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">trace</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Boolean</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether to enable <a href="tracer.html">Tracer</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">delayer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Long</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To set a delay value for <a href="delay-interceptor.html">Delay Interceptor</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">handleFault</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Boolean</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether to enable handle fault.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">errorHandlerRef</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>String</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Refers to a context scoped <a href="error-handler.html">Error Handler</a> to be
used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">autoStartup</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Boolean</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether to start all routes when starting Camel.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">useMDCLogging</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Boolean</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether to use <a href="mdc-logging.html">MDC logging</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">useBreadcrumb</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Boolean</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether to use <a href="mdc-logging.html">breadcrumb</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">managementNamePattern</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>String</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To set a custom naming pattern for JMX MBeans.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">threadNamePattern</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>String</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To set a custom naming pattern for threads.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">properties.XXX</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To set custom properties on <code>CamelContext.getProperties</code>. This is seldom
in use.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">routebuilder.XXX</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To configure routes to be used. See below for more details.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">CamelContextLifecycle</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Refers to a FQN classname of an implementation of
<code>org.apache.camel.component.servletlistener.CamelContextLifecycle</code>.
Which allows to execute custom code before and after
<a href="camelcontext.html">CamelContext</a> has been started or stopped. See
below for further details.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">XXX</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To set any option on <a href="camelcontext.html">CamelContext</a>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="ServletListenerComponent-Examples">Examples</h4>
<div class="paragraph">
<p>See <a href="servlet-tomcat-no-spring-example.html">Servlet Tomcat No Spring
Example</a>.</p>
</div>
</div>
<div class="sect3">
<h4 id="ServletListenerComponent-AccessingthecreatedCamelContext">Accessing the created CamelContext</h4>
<div class="paragraph">
<p><strong>Available as of Camel 2.14/2.13.3/2.12.5</strong></p>
</div>
<div class="paragraph">
<p>The created <code>CamelContext</code> is stored on the <code>ServletContext</code> as an
attribute with the key "CamelContext". You can get hold of the
CamelContext if you can get hold of the <code>ServletContext</code> as shown below:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">ServletContext sc = ...
CamelContext camel = (CamelContext) sc.getAttribute("CamelContext");</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="ServletListenerComponent-Configuringroutes">Configuring routes</h4>
<div class="paragraph">
<p>You need to configure which routes to use in the web.xml file. You can
do this in a number of ways, though all the parameters must be prefixed
with "routeBuilder".</p>
</div>
<div class="sect4">
<h5 id="ServletListenerComponent-UsingaRouteBuilderclass">Using a RouteBuilder class</h5>
<div class="paragraph">
<p>By default Camel will assume the param-value is a FQN classname for a
Camel <a href="routebuilder.html">RouteBuilder</a> class, as shown below:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">  &lt;context-param&gt;
    &lt;param-name&gt;routeBuilder-MyRoute&lt;/param-name&gt;
    &lt;param-value&gt;org.apache.camel.component.servletlistener.MyRoute&lt;/param-value&gt;
  &lt;/context-param&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>You can specify multiple classes in the same param-value as shown below:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">  &lt;context-param&gt;
    &lt;param-name&gt;routeBuilder-routes&lt;/param-name&gt;
    &lt;!-- we can define multiple values separated by comma --&gt;
    &lt;param-value&gt;
      org.apache.camel.component.servletlistener.MyRoute,
      org.apache.camel.component.servletlistener.routes.BarRouteBuilder
    &lt;/param-value&gt;
  &lt;/context-param&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>The name of the parameter does not have a meaning at runtime. It just
need to be unique and start with "routeBuilder". In the example above we
have "routeBuilder-routes". But you could just as well have named it
"routeBuilder.foo".</p>
</div>
</div>
<div class="sect4">
<h5 id="ServletListenerComponent-Usingpackagescanning">Using package scanning</h5>
<div class="paragraph">
<p>You can also tell Camel to use package scanning, which mean it will look
in the given package for all classes of
<a href="routebuilder.html">RouteBuilder</a> types and automatic adding them as
Camel routes. To do that you need to prefix the value with
"packagescan:" as shown below:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">  &lt;context-param&gt;
    &lt;param-name&gt;routeBuilder-MyRoute&lt;/param-name&gt;
    &lt;!-- define the routes using package scanning by prefixing with packagescan: --&gt;
    &lt;param-value&gt;packagescan:org.apache.camel.component.servletlistener.routes&lt;/param-value&gt;
  &lt;/context-param&gt;</code></pre>
</div>
</div>
</div>
<div class="sect4">
<h5 id="ServletListenerComponent-UsingaXMLfile">Using a XML file</h5>
<div class="paragraph">
<p>You can also define Camel routes using XML DSL, though as we are not
using Spring or Blueprint the XML file can only contain Camel route(s).</p>
</div>
<div class="paragraph">
<p>In the web.xml you refer to the XML file which can be from "classpath",
"file" or a "http" url, as shown below:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">  &lt;context-param&gt;
    &lt;param-name&gt;routeBuilder-MyRoute&lt;/param-name&gt;
    &lt;param-value&gt;classpath:routes/myRoutes.xml&lt;/param-value&gt;
  &lt;/context-param&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>And the XML file is:</p>
</div>
<div class="paragraph">
<p><strong>routes/myRoutes.xml</strong></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!-- the xmlns="http://camel.apache.org/schema/spring" is needed --&gt;
&lt;routes xmlns="http://camel.apache.org/schema/spring"&gt;

  &lt;route id="foo"&gt;
    &lt;from uri="direct:foo"/&gt;
    &lt;to uri="mock:foo"/&gt;
  &lt;/route&gt;

  &lt;route id="bar"&gt;
    &lt;from uri="direct:bar"/&gt;
    &lt;to uri="mock:bar"/&gt;
  &lt;/route&gt;

&lt;/routes&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Notice that in the XML file the root tag is &lt;routes&gt; which must use the
namespace "http://camel.apache.org/schema/spring". This namespace is
having the spring in the name, but that is because of historical
reasons, as Spring was the first and only XML DSL back in the time. At
runtime no Spring JARs is needed. Maybe in Camel 3.0 the namespace can
be renamed to a generic name.</p>
</div>
</div>
<div class="sect4">
<h5 id="ServletListenerComponent-Configuringpropertplaceholders">Configuring propert placeholders</h5>
<div class="paragraph">
<p>Here is a snippet of a web.xml configuration for setting up property
placeholders to load <code>myproperties.properties</code> from the classpath</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">  &lt;!-- setup property placeholder to load properties from classpath --&gt;
  &lt;!-- we do this by setting the param-name with propertyPlaceholder. as prefix and then any options such as location, cache etc --&gt;
  &lt;context-param&gt;
    &lt;param-name&gt;propertyPlaceholder.location&lt;/param-name&gt;
    &lt;param-value&gt;classpath:myproperties.properties&lt;/param-value&gt;
  &lt;/context-param&gt;
  &lt;!-- for example to disable cache on properties component, you do --&gt;
  &lt;context-param&gt;
    &lt;param-name&gt;propertyPlaceholder.cache&lt;/param-name&gt;
    &lt;param-value&gt;false&lt;/param-value&gt;
  &lt;/context-param&gt;</code></pre>
</div>
</div>
</div>
<div class="sect4">
<h5 id="ServletListenerComponent-ConfiguringJMX">Configuring JMX</h5>
<div class="paragraph">
<p>Here is a snippet of a web.xml configuration for configuring JMX, such
as disabling JMX.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">  &lt;!-- configure JMX by using names that is prefixed with jmx. --&gt;
  &lt;!-- in this example we disable JMX --&gt;
  &lt;context-param&gt;
    &lt;param-name&gt;jmx.disabled&lt;/param-name&gt;
    &lt;param-value&gt;true&lt;/param-value&gt;
  &lt;/context-param&gt;</code></pre>
</div>
</div>
</div>
</div>
<div class="sect3">
<h4 id="ServletListenerComponent-JNDIorSimpleasCamel">JNDI or Simple as Camel <a href="registry.html">Registry</a></h4>
<div class="paragraph">
<p>This component uses either JNDI or Simple as the
<a href="registry.html">Registry</a>.<br>
 This allows you to lookup <a href="bean.html">Bean</a>s and other services in
JNDI, and as well to bind and unbind your own <a href="bean.html">Bean</a>s.</p>
</div>
<div class="paragraph">
<p>This is done from Java code by implementing the
<code>org.apache.camel.component.servletlistener.CamelContextLifecycle</code>.</p>
</div>
<div class="sect4">
<h5 id="ServletListenerComponent-UsingcustomCamelContextLifecycle">Using custom CamelContextLifecycle</h5>
<div class="paragraph">
<p>In the code below we use the callbacks <code>beforeStart</code> and <code>afterStop</code> to
enlist our custom bean in the Simple <a href="registry.html">Registry</a>, and
as well to cleanup when we stop.</p>
</div>
<div class="paragraph">
<p>Then we need to register this class in the web.xml file as shown below,
using the parameter name "CamelContextLifecycle". The value must be a
FQN which refers to the class implementing the
<code>org.apache.camel.component.servletlistener.CamelContextLifecycle</code>
interface.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">  &lt;context-param&gt;
    &lt;param-name&gt;CamelContextLifecycle&lt;/param-name&gt;
    &lt;param-value&gt;org.apache.camel.component.servletlistener.MyLifecycle&lt;/param-value&gt;
  &lt;/context-param&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>As we enlisted our HelloBean <a href="bean.html">Bean</a> using the name
"myBean" we can refer to this <a href="bean.html">Bean</a> in the Camel routes
as shown below:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">public class MyBeanRoute extends RouteBuilder {
    @Override
    public void configure() throws Exception {
        from("seda:foo").routeId("foo")
            .to("bean:myBean")
            .to("mock:foo");
    }
}</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Important:</strong> If you use
<code>org.apache.camel.component.servletlistener.JndiCamelServletContextListener</code>
then the <code>CamelContextLifecycle</code> must use the <code>JndiRegistry</code> as well.
And likewise if the servlet is
<code>org.apache.camel.component.servletlistener.SimpleCamelServletContextListener</code>
then the <code>CamelContextLifecycle</code> must use the <code>SimpleRegistry</code></p>
</div>
</div>
</div>
<div class="sect3">
<h4 id="ServletListenerComponent-SeeAlso">See Also</h4>
<div class="ulist">
<ul>
<li>
<p><a href="servlet.html">SERVLET</a></p>
</li>
<li>
<p><a href="servlet-tomcat-example.html">Servlet Tomcat Example</a></p>
</li>
<li>
<p><a href="servlet-tomcat-no-spring-example.html">Servlet Tomcat No Spring
Example</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>

    
<footer class='entry-footer'>
  
    
  
</footer>


  </article>

  
    
<nav class='entry-nav'>
  <div class='entry-nav-links'><div class='prev-entry'>
      <a href='https://camel.apache.org/components/2.20.0/sftp-component/'>
        <span aria-hidden='true'><svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="20" y1="12" x2="4" y2="12"/>
  <polyline points="10 18 4 12 10 6"/>
  
</svg>
 Previous</span>
        <span class='screen-reader'>Previous post: </span></a>
    </div><div class='next-entry'>
      <a href='https://camel.apache.org/components/2.20.0/servlet-component/'>
        <span class='screen-reader'>Next post: </span><span aria-hidden='true'>Next <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="4" y1="12" x2="20" y2="12"/>
  <polyline points="14 6 20 12 14 18"/>
  
</svg>
</span>
      </a>
    </div></div>
</nav>


  

  
    <div class='comments-container'>
  
</div>

  
</main>

    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <div class='social'>
          <nav aria-label='Social Menu'>
  <ul class='social-menu'>
  
  </ul>
</nav>

        </div>

        <div class='copyright'>
          <p>
    
      
    
  
  &copy; 2004-2018 The Apache Software Foundation.
</p>
<p>
  Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>

        </div>
      </div>
    </footer>

  </div>

  <script src='/js/site.36395d52b78f93dc7cc7.js'></script>
  

</body>

</html>

