<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='AWS Simple Email Service Component Available as of Camel version 2.9
 The ses component supports sending emails with Amazon&#8217;s SES service.
 Prerequisites
 You must have a valid Amazon Web Services developer account, and be signed up to use Amazon SES. More information are available at Amazon SES.
 URI Format aws-ses://from[?options]   You can append query options to the URI in the following format, ?options=value&amp;option2=value&amp;&#8230;&#8203;
  URI Options The AWS Simple Email Service component has no options.'>

<meta property='og:title' content=' • Apache Camel: Integration that you want'>
<meta property='og:description' content='AWS Simple Email Service Component Available as of Camel version 2.9
 The ses component supports sending emails with Amazon&#8217;s SES service.
 Prerequisites
 You must have a valid Amazon Web Services developer account, and be signed up to use Amazon SES. More information are available at Amazon SES.
 URI Format aws-ses://from[?options]   You can append query options to the URI in the following format, ?options=value&amp;option2=value&amp;&#8230;&#8203;
  URI Options The AWS Simple Email Service component has no options.'>
<meta property='og:url' content='https://camel.apache.org/components/2.20.0/aws-ses-component/'>
<meta property='og:site_name' content='Apache Camel: Integration that you want'>
<meta property='og:type' content='article'><meta property='article:section' content='Components'>

  <base href='https://camel.apache.org/'>
  <title> • Apache Camel: Integration that you want</title>
  <link rel='canonical' href='https://camel.apache.org/components/2.20.0/aws-ses-component/'>
  <link href='' rel='alternate' type='application/rss+xml' title='Apache Camel: Integration that you want' />
  <link rel='icon' href='/favicon.ico'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/site.142da777720723dd4ecadc8e70926967.css'>



</head>


<body class='page'>
  <div class='u-full-width u-max-full-width container'>
    <header class='header'>
      <div class='site-header'>
        
        <p class='title'>Apache Camel: Integration that you want</p>
        
        <p>Apache Camel framework for easy integration</p>
      </div>
    </header>

    <nav class='navbar' aria-label='Main Menu'>
  <div class='container'>
    <ul class='navbar-list'>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/about/'>About</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/blog/'>News</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/getting-started/'>Getting started</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/manual/'>Manual</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/components/'>Components</a>
      </li>
      
    </ul>
  </div>
</nav>



<main class='row content'>
  <article lang='en' class='entry'>
    <header class='entry-header'>
  <div class='entry-info'>
    <h1 class='entry-title title'></h1>
    
  </div>
  
<div class='meta'>
  <span class='posted-on'>
    <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
  <line x1="16" y1="2" x2="16" y2="6"/>
  <line x1="8" y1="2" x2="8" y2="6"/>
  <line x1="3" y1="10" x2="21" y2="10"/>
  
</svg>

    <span class='screen-reader'>Posted on </span>
    <time class='date' datetime='0001-01-01T00:00:00Z'>0001, Jan 01</time>
  </span>
  
</div>


</header>

    <div class='entry-content'>
  <div class="sect1">
<h2 id="_aws_simple_email_service_component">AWS Simple Email Service Component</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Available as of Camel version 2.9</strong></p>
</div>
<div class="paragraph">
<p>The ses component supports sending emails with
<a href="http://aws.amazon.com/ses">Amazon&#8217;s SES</a> service.</p>
</div>
<div class="paragraph">
<p>Prerequisites</p>
</div>
<div class="paragraph">
<p>You must have a valid Amazon Web Services developer account, and be
signed up to use Amazon SES. More information are available at
<a href="http://aws.amazon.com/ses">Amazon SES</a>.</p>
</div>
<div class="sect2">
<h3 id="_uri_format">URI Format</h3>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">aws-ses://from[?options]</code></pre>
</div>
</div>
<div class="paragraph">
<p>You can append query options to the URI in the following format,
?options=value&amp;option2=value&amp;&#8230;&#8203;</p>
</div>
</div>
<div class="sect2">
<h3 id="_uri_options">URI Options</h3>
<div class="paragraph">
<p>The AWS Simple Email Service component has no options.</p>
</div>
<div class="paragraph">
<p>The AWS Simple Email Service endpoint is configured using URI syntax:</p>
</div>
<div class="literalblock">
<div class="content">
<pre>aws-ses:from</pre>
</div>
</div>
<div class="paragraph">
<p>with the following path and query parameters:</p>
</div>
<div class="sect3">
<h4 id="_path_parameters_1_parameters">Path Parameters (1 parameters):</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>from</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Required</strong> The sender&#8217;s email address.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_query_parameters_11_parameters">Query Parameters (11 parameters):</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>accessKey</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon AWS Access Key</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>amazonSESClient</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To use the AmazonSimpleEmailService as the client</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">AmazonSimpleEmail Service</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>amazonSESEndpoint</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The region with which the AWS-SES client wants to work with.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>proxyHost</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To define a proxy host when instantiating the SQS client</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>proxyPort</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To define a proxy port when instantiating the SQS client</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Integer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>replyToAddresses</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">List of reply-to email address(es) for the message override it using 'CamelAwsSesReplyToAddresses' header.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">List</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>returnPath</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The email address to which bounce notifications are to be forwarded override it using 'CamelAwsSesReturnPath' header.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>secretKey</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon AWS Secret Key</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>subject</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The subject which is used if the message header 'CamelAwsSesSubject' is not present.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>to</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">List of destination email address. Can be overriden with 'CamelAwsSesTo' header.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">List</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>synchronous</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets whether synchronous processing should be strictly used or Camel is allowed to use asynchronous processing (if supported).</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Required SES component options</p>
</div>
<div class="paragraph">
<p>You have to provide the amazonSESClient in the
<a href="registry.html">Registry</a> or your accessKey and secretKey to access
the <a href="http://aws.amazon.com/ses">Amazon&#8217;s SES</a>.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_usage">Usage</h3>
<div class="sect3">
<h4 id="_message_headers_evaluated_by_the_ses_producer">Message headers evaluated by the SES producer</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 10%;">
<col style="width: 10%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Header</th>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelAwsSesFrom</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>String</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The sender&#8217;s email address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelAwsSesTo</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>List&lt;String&gt;</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The destination(s) for this email.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelAwsSesSubject</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>String</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The subject of the message.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelAwsSesReplyToAddresses</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>List&lt;String&gt;</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The reply-to email address(es) for the message.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelAwsSesReturnPath</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>String</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The email address to which bounce notifications are to be forwarded.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelAwsSesHtmlEmail</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Boolean</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Since Camel 2.12.3</strong> The flag to show if email content is HTML.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_message_headers_set_by_the_ses_producer">Message headers set by the SES producer</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 10%;">
<col style="width: 10%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Header</th>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelAwsSesMessageId</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>String</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Amazon SES message ID.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_advanced_amazonsimpleemailservice_configuration">Advanced AmazonSimpleEmailService configuration</h4>
<div class="paragraph">
<p>If you need more control over the <code>AmazonSimpleEmailService</code> instance
configuration you can create your own instance and refer to it from the
URI:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">from("direct:start")
.to("aws-ses://example@example.com?amazonSESClient=#client");</code></pre>
</div>
</div>
<div class="paragraph">
<p>The <code>#client</code> refers to a <code>AmazonSimpleEmailService</code> in the
<a href="registry.html">Registry</a>.</p>
</div>
<div class="paragraph">
<p>For example if your Camel Application is running behind a firewall:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">AWSCredentials awsCredentials = new BasicAWSCredentials("myAccessKey", "mySecretKey");
ClientConfiguration clientConfiguration = new ClientConfiguration();
clientConfiguration.setProxyHost("http://myProxyHost");
clientConfiguration.setProxyPort(8080);
AmazonSimpleEmailService client = new AmazonSimpleEmailServiceClient(awsCredentials, clientConfiguration);

registry.bind("client", client);</code></pre>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_dependencies">Dependencies</h3>
<div class="paragraph">
<p>Maven users will need to add the following dependency to their pom.xml.</p>
</div>
<div class="paragraph">
<p><strong>pom.xml</strong></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;dependency&gt;
    &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
    &lt;artifactId&gt;camel-aws&lt;/artifactId&gt;
    &lt;version&gt;${camel-version}&lt;/version&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>where <code>${camel-version</code>} must be replaced by the actual version of Camel
(2.8.4 or higher).</p>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="ulist">
<ul>
<li>
<p><a href="configuring-camel.html">Configuring Camel</a></p>
</li>
<li>
<p><a href="component.html">Component</a></p>
</li>
<li>
<p><a href="endpoint.html">Endpoint</a></p>
</li>
<li>
<p><a href="getting-started.html">Getting Started</a></p>
</li>
<li>
<p><a href="aws.html">AWS Component</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>

    
<footer class='entry-footer'>
  
    
  
</footer>


  </article>

  
    
<nav class='entry-nav'>
  <div class='entry-nav-links'><div class='prev-entry'>
      <a href='https://camel.apache.org/components/2.20.0/aws-sns-component/'>
        <span aria-hidden='true'><svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="20" y1="12" x2="4" y2="12"/>
  <polyline points="10 18 4 12 10 6"/>
  
</svg>
 Previous</span>
        <span class='screen-reader'>Previous post: </span></a>
    </div><div class='next-entry'>
      <a href='https://camel.apache.org/components/2.20.0/aws-sdb-component/'>
        <span class='screen-reader'>Next post: </span><span aria-hidden='true'>Next <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="4" y1="12" x2="20" y2="12"/>
  <polyline points="14 6 20 12 14 18"/>
  
</svg>
</span>
      </a>
    </div></div>
</nav>


  

  
    <div class='comments-container'>
  
</div>

  
</main>

    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <div class='social'>
          <nav aria-label='Social Menu'>
  <ul class='social-menu'>
  
  </ul>
</nav>

        </div>

        <div class='copyright'>
          <p>
    
      
    
  
  &copy; 2004-2018 The Apache Software Foundation.
</p>
<p>
  Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>

        </div>
      </div>
    </footer>

  </div>

  <script src='/js/site.36395d52b78f93dc7cc7.js'></script>
  

</body>

</html>

