<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='EHCache Component (deprecated) Available as of Camel version 2.1
 The cache component enables you to perform caching operations using EHCache as the Cache Implementation. The cache itself is created on demand or if a cache of that name already exists then it is simply utilized with its original settings.
 This component supports producer and event based consumer endpoints.
 The Cache consumer is an event based consumer and can be used to listen and respond to specific cache activities.'>

<meta property='og:title' content=' • Apache Camel: Integration that you want'>
<meta property='og:description' content='EHCache Component (deprecated) Available as of Camel version 2.1
 The cache component enables you to perform caching operations using EHCache as the Cache Implementation. The cache itself is created on demand or if a cache of that name already exists then it is simply utilized with its original settings.
 This component supports producer and event based consumer endpoints.
 The Cache consumer is an event based consumer and can be used to listen and respond to specific cache activities.'>
<meta property='og:url' content='https://camel.apache.org/components/2.20.0/cache-component/'>
<meta property='og:site_name' content='Apache Camel: Integration that you want'>
<meta property='og:type' content='article'><meta property='article:section' content='Components'>

  <base href='https://camel.apache.org/'>
  <title> • Apache Camel: Integration that you want</title>
  <link rel='canonical' href='https://camel.apache.org/components/2.20.0/cache-component/'>
  <link href='' rel='alternate' type='application/rss+xml' title='Apache Camel: Integration that you want' />
  <link rel='icon' href='/favicon.ico'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/site.142da777720723dd4ecadc8e70926967.css'>



</head>


<body class='page'>
  <div class='u-full-width u-max-full-width container'>
    <header class='header'>
      <div class='site-header'>
        
        <p class='title'>Apache Camel: Integration that you want</p>
        
        <p>Apache Camel framework for easy integration</p>
      </div>
    </header>

    <nav class='navbar' aria-label='Main Menu'>
  <div class='container'>
    <ul class='navbar-list'>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/about/'>About</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/blog/'>News</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/getting-started/'>Getting started</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/manual/'>Manual</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/components/'>Components</a>
      </li>
      
    </ul>
  </div>
</nav>



<main class='row content'>
  <article lang='en' class='entry'>
    <header class='entry-header'>
  <div class='entry-info'>
    <h1 class='entry-title title'></h1>
    
  </div>
  
<div class='meta'>
  <span class='posted-on'>
    <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
  <line x1="16" y1="2" x2="16" y2="6"/>
  <line x1="8" y1="2" x2="8" y2="6"/>
  <line x1="3" y1="10" x2="21" y2="10"/>
  
</svg>

    <span class='screen-reader'>Posted on </span>
    <time class='date' datetime='0001-01-01T00:00:00Z'>0001, Jan 01</time>
  </span>
  
</div>


</header>

    <div class='entry-content'>
  <div class="sect1">
<h2 id="_ehcache_component_deprecated">EHCache Component (deprecated)</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Available as of Camel version 2.1</strong></p>
</div>
<div class="paragraph">
<p>The <strong>cache</strong> component enables you to perform caching operations using
EHCache as the Cache Implementation. The cache itself is created on
demand or if a cache of that name already exists then it is simply
utilized with its original settings.</p>
</div>
<div class="paragraph">
<p>This component supports producer and event based consumer endpoints.</p>
</div>
<div class="paragraph">
<p>The Cache consumer is an event based consumer and can be used to listen
and respond to specific cache activities. If you need to perform
selections from a pre-existing cache, use the processors defined for the
cache component.</p>
</div>
<div class="paragraph">
<p>Maven users will need to add the following dependency to their <code>pom.xml</code>
for this component:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;dependency&gt;
    &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
    &lt;artifactId&gt;camel-cache&lt;/artifactId&gt;
    &lt;version&gt;x.x.x&lt;/version&gt;
    &lt;!-- use the same version as your Camel core version --&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
<div class="sect2">
<h3 id="_uri_format">URI format</h3>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">cache://cacheName[?options]</code></pre>
</div>
</div>
<div class="paragraph">
<p>You can append query options to the URI in the following format,
<code>?option=value&amp;option=#beanRef&amp;&#8230;&#8203;</code></p>
</div>
</div>
<div class="sect2">
<h3 id="_options">Options</h3>
<div class="paragraph">
<p>The EHCache component supports 4 options which are listed below.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>cacheManagerFactory</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To use the given CacheManagerFactory for creating the CacheManager. By default the DefaultCacheManagerFactory is used.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">CacheManagerFactory</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>configuration</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets the Cache configuration</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">CacheConfiguration</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>configurationFile</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets the location of the ehcache.xml file to load from classpath or file system. By default the file is loaded from classpath:ehcache.xml</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">classpath:ehcache.xml</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>resolveProperty Placeholders</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether the component should resolve property placeholders on itself when starting. Only properties which are of String type can use property placeholders.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">true</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>The EHCache endpoint is configured using URI syntax:</p>
</div>
<div class="literalblock">
<div class="content">
<pre>cache:cacheName</pre>
</div>
</div>
<div class="paragraph">
<p>with the following path and query parameters:</p>
</div>
<div class="sect3">
<h4 id="_path_parameters_1_parameters">Path Parameters (1 parameters):</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>cacheName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Required</strong> Name of the cache</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_query_parameters_19_parameters">Query Parameters (19 parameters):</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>diskExpiryThreadInterval Seconds</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The number of seconds between runs of the disk expiry thread.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">long</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>diskPersistent</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether the disk store persists between restarts of the application.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>diskStorePath</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This parameter is ignored. CacheManager sets it using setter injection.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eternal</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets whether elements are eternal. If eternal timeouts are ignored and the element never expires.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>key</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The default key to use. If a key is provided in the message header then the key from the header takes precedence.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>maxElementsInMemory</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The number of elements that may be stored in the defined cache in memory.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">1000</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">int</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>memoryStoreEvictionPolicy</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which eviction strategy to use when maximum number of elements in memory is reached. The strategy defines which elements to be removed. LRU - Lest Recently Used LFU - Lest Frequently Used FIFO - First In First Out</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">LFU</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">MemoryStoreEviction Policy</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>objectCache</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether to turn on allowing to store non serializable objects in the cache. If this option is enabled then overflow to disk cannot be enabled as well.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>operation</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The default cache operation to use. If an operation in the message header then the operation from the header takes precedence.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>overflowToDisk</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Specifies whether cache may overflow to disk</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">true</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>timeToIdleSeconds</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum amount of time between accesses before an element expires</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">300</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">long</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>timeToLiveSeconds</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum time between creation time and when an element expires. Is used only if the element is not eternal</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">300</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">long</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bridgeErrorHandler</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allows for bridging the consumer to the Camel routing Error Handler which mean any exceptions occurred while the consumer is trying to pickup incoming messages or the likes will now be processed as a message and handled by the routing Error Handler. By default the consumer will use the org.apache.camel.spi.ExceptionHandler to deal with exceptions that will be logged at WARN or ERROR level and ignored.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>exceptionHandler</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To let the consumer use a custom ExceptionHandler. Notice if the option bridgeErrorHandler is enabled then this options is not in use. By default the consumer will deal with exceptions that will be logged at WARN or ERROR level and ignored.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ExceptionHandler</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>exchangePattern</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets the exchange pattern when the consumer creates an exchange.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ExchangePattern</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>cacheLoaderRegistry</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To configure cache loader using the CacheLoaderRegistry</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">CacheLoaderRegistry</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>cacheManagerFactory</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To use a custom CacheManagerFactory for creating the CacheManager to be used by this endpoint. By default the CacheManagerFactory configured on the component is used.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">CacheManagerFactory</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eventListenerRegistry</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To configure event listeners using the CacheEventListenerRegistry</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">CacheEventListener Registry</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>synchronous</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets whether synchronous processing should be strictly used or Camel is allowed to use asynchronous processing (if supported).</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="_sending_receiving_messages_to_from_the_cache">Sending/Receiving Messages to/from the cache</h3>
<div class="sect3">
<h4 id="_message_headers_up_to_camel_2_7">Message Headers up to Camel 2.7</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Header</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CACHE_OPERATION</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The operation to be performed on the cache. Valid options are</p>
<p class="tableblock">* GET
* CHECK
* ADD
* UPDATE
* DELETE
* DELETEALL<br>
 <code>GET</code> and <code>CHECK</code> requires <strong>Camel 2.3</strong> onwards.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CACHE_KEY</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The cache key used to store the Message in the cache. The cache key is
optional if the CACHE_OPERATION is DELETEALL</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_message_headers_camel_2_8">Message Headers Camel 2.8+</h4>
<div class="paragraph">
<p>Header changes in Camel 2.8</p>
</div>
<div class="paragraph">
<p>The header names and supported values have changed to be prefixed with
'CamelCache' and use mixed case. This makes them easier to identify and
keep separate from other headers. The CacheConstants variable names
remain unchanged, just their values have been changed. Also, these
headers are now removed from the exchange after the cache operation is
performed.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Header</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelCacheOperation</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The operation to be performed on the cache. The valid options are</p>
<p class="tableblock">* CamelCacheGet
* CamelCacheCheck
* CamelCacheAdd
* CamelCacheUpdate
* CamelCacheDelete
* CamelCacheDeleteAll</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelCacheKey</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The cache key used to store the Message in the cache. The cache key is
optional if the CamelCacheOperation is CamelCacheDeleteAll</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>The <code>CamelCacheAdd</code> and <code>CamelCacheUpdate</code> operations support additional
headers:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 10%;">
<col style="width: 10%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Header</th>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelCacheTimeToLive</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Integer</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Camel 2.11:</strong> Time to live in seconds.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelCacheTimeToIdle</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Integer</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Camel 2.11:</strong> Time to idle in seconds.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>CamelCacheEternal</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Boolean</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Camel 2.11:</strong> Whether the content is eternal.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_cache_producer">Cache Producer</h4>
<div class="paragraph">
<p>Sending data to the cache involves the ability to direct payloads in
exchanges to be stored in a pre-existing or created-on-demand cache. The
mechanics of doing this involve</p>
</div>
<div class="ulist">
<ul>
<li>
<p>setting the Message Exchange Headers shown above.</p>
</li>
<li>
<p>ensuring that the Message Exchange Body contains the message directed
to the cache</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="_cache_consumer">Cache Consumer</h4>
<div class="paragraph">
<p>Receiving data from the cache involves the ability of the CacheConsumer
to listen on a pre-existing or created-on-demand Cache using an event
Listener and receive automatic notifications when any cache activity
take place (i.e
CamelCacheGet/CamelCacheUpdate/CamelCacheDelete/CamelCacheDeleteAll).
Upon such an activity taking place</p>
</div>
<div class="ulist">
<ul>
<li>
<p>an exchange containing Message Exchange Headers and a Message Exchange
Body containing the just added/updated payload is placed and sent.</p>
</li>
<li>
<p>in case of a CamelCacheDeleteAll operation, the Message Exchange
Header CamelCacheKey and the Message Exchange Body are not populated.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="_cache_processors">Cache Processors</h4>
<div class="paragraph">
<p>There are a set of nice processors with the ability to perform cache
lookups and selectively replace payload content at the</p>
</div>
<div class="ulist">
<ul>
<li>
<p>body</p>
</li>
<li>
<p>token</p>
</li>
<li>
<p>xpath level</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_cache_usage_samples">Cache Usage Samples</h3>
<div class="sect3">
<h4 id="_example_1_configuring_the_cache">Example 1: Configuring the cache</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">from("cache://MyApplicationCache" +
          "?maxElementsInMemory=1000" +
          "&amp;memoryStoreEvictionPolicy=" +
              "MemoryStoreEvictionPolicy.LFU" +
          "&amp;overflowToDisk=true" +
          "&amp;eternal=true" +
          "&amp;timeToLiveSeconds=300" +
          "&amp;timeToIdleSeconds=true" +
          "&amp;diskPersistent=true" +
          "&amp;diskExpiryThreadIntervalSeconds=300")</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_example_2_adding_keys_to_the_cache">Example 2: Adding keys to the cache</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">RouteBuilder builder = new RouteBuilder() {
    public void configure() {
     from("direct:start")
     .setHeader(CacheConstants.CACHE_OPERATION, constant(CacheConstants.CACHE_OPERATION_ADD))
     .setHeader(CacheConstants.CACHE_KEY, constant("Ralph_Waldo_Emerson"))
     .to("cache://TestCache1")
   }
};</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_example_2_updating_existing_keys_in_a_cache">Example 2: Updating existing keys in a cache</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">RouteBuilder builder = new RouteBuilder() {
    public void configure() {
     from("direct:start")
     .setHeader(CacheConstants.CACHE_OPERATION, constant(CacheConstants.CACHE_OPERATION_UPDATE))
     .setHeader(CacheConstants.CACHE_KEY, constant("Ralph_Waldo_Emerson"))
     .to("cache://TestCache1")
   }
};</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_example_3_deleting_existing_keys_in_a_cache">Example 3: Deleting existing keys in a cache</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">RouteBuilder builder = new RouteBuilder() {
    public void configure() {
     from("direct:start")
     .setHeader(CacheConstants.CACHE_OPERATION, constant(CacheConstants.CACHE_DELETE))
     .setHeader(CacheConstants.CACHE_KEY", constant("Ralph_Waldo_Emerson"))
     .to("cache://TestCache1")
   }
};</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_example_4_deleting_all_existing_keys_in_a_cache">Example 4: Deleting all existing keys in a cache</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">RouteBuilder builder = new RouteBuilder() {
    public void configure() {
     from("direct:start")
     .setHeader(CacheConstants.CACHE_OPERATION, constant(CacheConstants.CACHE_DELETEALL))
     .to("cache://TestCache1");
    }
};</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_example_5_notifying_any_changes_registering_in_a_cache_to_processors_and_other_producers">Example 5: Notifying any changes registering in a Cache to Processors and other Producers</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">RouteBuilder builder = new RouteBuilder() {
    public void configure() {
     from("cache://TestCache1")
     .process(new Processor() {
        public void process(Exchange exchange)
               throws Exception {
           String operation = (String) exchange.getIn().getHeader(CacheConstants.CACHE_OPERATION);
           String key = (String) exchange.getIn().getHeader(CacheConstants.CACHE_KEY);
           Object body = exchange.getIn().getBody();
           // Do something
        }
     })
   }
};</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_example_6_using_processors_to_selectively_replace_payload_with_cache_values">Example 6: Using Processors to selectively replace payload with cache values</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">RouteBuilder builder = new RouteBuilder() {
   public void configure() {
     //Message Body Replacer
     from("cache://TestCache1")
     .filter(header(CacheConstants.CACHE_KEY).isEqualTo("greeting"))
     .process(new CacheBasedMessageBodyReplacer("cache://TestCache1","farewell"))
     .to("direct:next");

    //Message Token replacer
    from("cache://TestCache1")
    .filter(header(CacheConstants.CACHE_KEY).isEqualTo("quote"))
    .process(new CacheBasedTokenReplacer("cache://TestCache1","novel","#novel#"))
    .process(new CacheBasedTokenReplacer("cache://TestCache1","author","#author#"))
    .process(new CacheBasedTokenReplacer("cache://TestCache1","number","#number#"))
    .to("direct:next");

    //Message XPath replacer
    from("cache://TestCache1").
    .filter(header(CacheConstants.CACHE_KEY).isEqualTo("XML_FRAGMENT"))
    .process(new CacheBasedXPathReplacer("cache://TestCache1","book1","/books/book1"))
    .process (new CacheBasedXPathReplacer("cache://TestCache1","book2","/books/book2"))
    .to("direct:next");
   }
};</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_example_7_getting_an_entry_from_the_cache">Example 7: Getting an entry from the Cache</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">from("direct:start")
    // Prepare headers
    .setHeader(CacheConstants.CACHE_OPERATION, constant(CacheConstants.CACHE_OPERATION_GET))
    .setHeader(CacheConstants.CACHE_KEY, constant("Ralph_Waldo_Emerson")).
    .to("cache://TestCache1").
    // Check if entry was not found
    .choice().when(header(CacheConstants.CACHE_ELEMENT_WAS_FOUND).isNull()).
        // If not found, get the payload and put it to cache
        .to("cxf:bean:someHeavyweightOperation").
        .setHeader(CacheConstants.CACHE_OPERATION, constant(CacheConstants.CACHE_OPERATION_ADD))
        .setHeader(CacheConstants.CACHE_KEY, constant("Ralph_Waldo_Emerson"))
        .to("cache://TestCache1")
    .end()
    .to("direct:nextPhase");</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_example_8_checking_for_an_entry_in_the_cache">Example 8: Checking for an entry in the Cache</h4>
<div class="paragraph">
<p>Note: The CHECK command tests existence of an entry in the cache but
doesn&#8217;t place a message in the body.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">from("direct:start")
    // Prepare headers
    .setHeader(CacheConstants.CACHE_OPERATION, constant(CacheConstants.CACHE_OPERATION_CHECK))
    .setHeader(CacheConstants.CACHE_KEY, constant("Ralph_Waldo_Emerson")).
    .to("cache://TestCache1").
    // Check if entry was not found
    .choice().when(header(CacheConstants.CACHE_ELEMENT_WAS_FOUND).isNull()).
        // If not found, get the payload and put it to cache
        .to("cxf:bean:someHeavyweightOperation").
        .setHeader(CacheConstants.CACHE_OPERATION, constant(CacheConstants.CACHE_OPERATION_ADD))
        .setHeader(CacheConstants.CACHE_KEY, constant("Ralph_Waldo_Emerson"))
        .to("cache://TestCache1")
    .end();</code></pre>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_management_of_ehcache">Management of EHCache</h3>
<div class="paragraph">
<p><a href="http://ehcache.org/">EHCache</a> has its own statistics and management from
<a href="camel-jmx.html">JMX</a>.</p>
</div>
<div class="paragraph">
<p>Here&#8217;s a snippet on how to expose them via JMX in a Spring application
context:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;bean id="ehCacheManagementService" class="net.sf.ehcache.management.ManagementService" init-method="init" lazy-init="false"&gt;
  &lt;constructor-arg&gt;
    &lt;bean class="net.sf.ehcache.CacheManager" factory-method="getInstance"/&gt;
  &lt;/constructor-arg&gt;
  &lt;constructor-arg&gt;
    &lt;bean class="org.springframework.jmx.support.JmxUtils" factory-method="locateMBeanServer"/&gt;
  &lt;/constructor-arg&gt;
  &lt;constructor-arg value="true"/&gt;
  &lt;constructor-arg value="true"/&gt;
  &lt;constructor-arg value="true"/&gt;
  &lt;constructor-arg value="true"/&gt;
&lt;/bean&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Of course you can do the same thing in straight Java:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">ManagementService.registerMBeans(CacheManager.getInstance(), mbeanServer, true, true, true, true);</code></pre>
</div>
</div>
<div class="paragraph">
<p>You can get cache hits, misses, in-memory hits, disk hits, size stats
this way. You can also change CacheConfiguration parameters on the fly.</p>
</div>
</div>
<div class="sect2">
<h3 id="_cache_replication_camel_2_8">Cache replication Camel 2.8</h3>
<div class="paragraph">
<p>The Camel Cache component is able to distribute a cache across server
nodes using several different replication mechanisms including: RMI,
JGroups, JMS and Cache Server.</p>
</div>
<div class="paragraph">
<p>There are two different ways to make it work:</p>
</div>
<div class="paragraph">
<p><strong>1.</strong> You can configure <code>ehcache.xml</code> manually</p>
</div>
<div class="paragraph">
<p>OR</p>
</div>
<div class="paragraph">
<p><strong>2.</strong> You can configure these three options:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>cacheManagerFactory</p>
</li>
<li>
<p>eventListenerRegistry</p>
</li>
<li>
<p>cacheLoaderRegistry</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Configuring Camel Cache replication using the first option is a bit of
hard work as you have to configure all caches separately. So in a
situation when the all names of caches are not known, using
<code>ehcache.xml</code> is not a good idea.</p>
</div>
<div class="paragraph">
<p>The second option is much better when you want to use many different
caches as you do not need to define options per cache. This is because
replication options are set per <code>CacheManager</code> and per <code>CacheEndpoint</code>.
Also it is the only way when cache names are not know at the development
phase.</p>
</div>
<div class="paragraph">
<p><strong>Note</strong>: It might be useful to read the <a href="http://ehcache.org/documentation">EHCache
manual</a> to get a better understanding of the Camel Cache replication
mechanism.</p>
</div>
<div class="sect3">
<h4 id="_example_jms_cache_replication">Example: JMS cache replication</h4>
<div class="paragraph">
<p>JMS replication is the most powerful and secured replication method.
Used together with Camel Cache replication makes it also rather
simple. An example is available on <a href="cachereplicationjmsexample.html">a
separate page</a>.</p>
</div>
</div>
</div>
</div>
</div>
</div>

    
<footer class='entry-footer'>
  
    
  
</footer>


  </article>

  
    
<nav class='entry-nav'>
  <div class='entry-nav-links'><div class='prev-entry'>
      <a href='https://camel.apache.org/components/2.20.0/caffeine-cache-component/'>
        <span aria-hidden='true'><svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="20" y1="12" x2="4" y2="12"/>
  <polyline points="10 18 4 12 10 6"/>
  
</svg>
 Previous</span>
        <span class='screen-reader'>Previous post: </span></a>
    </div><div class='next-entry'>
      <a href='https://camel.apache.org/components/2.20.0/braintree-component/'>
        <span class='screen-reader'>Next post: </span><span aria-hidden='true'>Next <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="4" y1="12" x2="20" y2="12"/>
  <polyline points="14 6 20 12 14 18"/>
  
</svg>
</span>
      </a>
    </div></div>
</nav>


  

  
    <div class='comments-container'>
  
</div>

  
</main>

    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <div class='social'>
          <nav aria-label='Social Menu'>
  <ul class='social-menu'>
  
  </ul>
</nav>

        </div>

        <div class='copyright'>
          <p>
    
      
    
  
  &copy; 2004-2018 The Apache Software Foundation.
</p>
<p>
  Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>

        </div>
      </div>
    </footer>

  </div>

  <script src='/js/site.36395d52b78f93dc7cc7.js'></script>
  

</body>

</html>

