<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='About the Scala DSL Deprecated
 Scala is a general purpose programming language designed to express common programming patterns in a concise, elegant, and type-safe way. It integrates very well with the Java platform. Our Scala DSL implementation is built on top of the existing Java-based DSL, but it adds Scala syntax sugar to make building routes even more convenient.
  Documentation   Scala DSL - Getting Started gives you basic information on how to use the Scala DSL.'>

<meta property='og:title' content=' • Apache Camel: Integration that you want'>
<meta property='og:description' content='About the Scala DSL Deprecated
 Scala is a general purpose programming language designed to express common programming patterns in a concise, elegant, and type-safe way. It integrates very well with the Java platform. Our Scala DSL implementation is built on top of the existing Java-based DSL, but it adds Scala syntax sugar to make building routes even more convenient.
  Documentation   Scala DSL - Getting Started gives you basic information on how to use the Scala DSL.'>
<meta property='og:url' content='https://camel.apache.org/components/2.20.0/scala/'>
<meta property='og:site_name' content='Apache Camel: Integration that you want'>
<meta property='og:type' content='article'><meta property='article:section' content='Components'>

  <base href='https://camel.apache.org/'>
  <title> • Apache Camel: Integration that you want</title>
  <link rel='canonical' href='https://camel.apache.org/components/2.20.0/scala/'>
  <link href='' rel='alternate' type='application/rss+xml' title='Apache Camel: Integration that you want' />
  <link rel='icon' href='/favicon.ico'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/site.142da777720723dd4ecadc8e70926967.css'>



</head>


<body class='page'>
  <div class='u-full-width u-max-full-width container'>
    <header class='header'>
      <div class='site-header'>
        
        <p class='title'>Apache Camel: Integration that you want</p>
        
        <p>Apache Camel framework for easy integration</p>
      </div>
    </header>

    <nav class='navbar' aria-label='Main Menu'>
  <div class='container'>
    <ul class='navbar-list'>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/about/'>About</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/blog/'>News</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/getting-started/'>Getting started</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/manual/'>Manual</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/components/'>Components</a>
      </li>
      
    </ul>
  </div>
</nav>



<main class='row content'>
  <article lang='en' class='entry'>
    <header class='entry-header'>
  <div class='entry-info'>
    <h1 class='entry-title title'></h1>
    
  </div>
  
<div class='meta'>
  <span class='posted-on'>
    <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
  <line x1="16" y1="2" x2="16" y2="6"/>
  <line x1="8" y1="2" x2="8" y2="6"/>
  <line x1="3" y1="10" x2="21" y2="10"/>
  
</svg>

    <span class='screen-reader'>Posted on </span>
    <time class='date' datetime='0001-01-01T00:00:00Z'>0001, Jan 01</time>
  </span>
  
</div>


</header>

    <div class='entry-content'>
  <div class="sect3">
<h4 id="ScalaDSL-AbouttheScalaDSL">About the Scala DSL</h4>
<div class="paragraph">
<p><strong>Deprecated</strong></p>
</div>
<div class="paragraph">
<p><a href="http://www.scala-lang.org/">Scala</a> is a general purpose programming
language designed to express common programming patterns in a concise,
elegant, and type-safe way. It integrates very well with the Java
platform. Our Scala DSL implementation is built on top of the existing
Java-based <a href="dsl.html">DSL</a>, but it adds Scala syntax sugar to make
building routes even more convenient.</p>
</div>
</div>
<div class="sect3">
<h4 id="ScalaDSL-Documentation">Documentation</h4>
<div class="ulist">
<ul>
<li>
<p><a href="scala-dsl-getting-started.html">Scala DSL - Getting Started</a> gives
you basic information on how to use the Scala DSL.</p>
</li>
<li>
<p><a href="scala-dsl-eip.html">Scala DSL - EIP</a> shows you the Scala DSL
syntax for every EIP supported. <a href="scala-dsl.html">Scala DSL</a> supports
every EIP from the <a href="dsl.html">Java DSL</a>.</p>
</li>
<li>
<p><a href="scala-dsl-supported-languages.html">Scala DSL - Supported
languages</a> explains the usage of traits to add support for other
languages (e.g. XPath)</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="ScalaDSL-References">References</h4>
<div class="ulist">
<ul>
<li>
<p>At <a href="http://www.eu.apachecon.com">ApacheCon Europe 2008</a> there was a Fast
Feather talk that introduced some of the basic Scala language concepts
that are being used for building the Scala DSL.
<a href="http://www.anova.be/files/camel-scala.pdf">Here are the presentation
slides</a> .</p>
</li>
<li>
<p>Here&#8217;s a
<a href="http://davsclaus.blogspot.se/2011/12/apache-camel-little-scala-dsl-example.html">blog
post</a> demonstrating the <a href="message-filter.html">Message Filter</a> EIP
within the <a href="scala-dsl.html">Scala DSL</a>, as well as how to use
<a href="camel-test.html">Camel&#8217;s test kit</a> to test the example.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="ScalaDSL-Dependencies">Dependencies</h4>
<div class="paragraph">
<p>To use the Scala DSL in your camel routes you need to add the a
dependency on <strong>camel-scala</strong> which implements the Scala DSL.</p>
</div>
<div class="paragraph">
<p>If you use maven you could just add the following to your pom.xml,
substituting the version number for the latest &amp; greatest release (see
the download page for the latest versions).</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;dependency&gt;
  &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
  &lt;artifactId&gt;camel-scala&lt;/artifactId&gt;
  &lt;version&gt;x.x.x&lt;/version&gt;
  &lt;!-- use the same version as your Camel core version --&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Starting from version 2.11 Camel Scala DSL is compiled against Scala
2.10. If you plan to use Scala 2.9 with Camel 2.11, add the following to
your pom.xml file instead.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;dependency&gt;
  &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
  &lt;artifactId&gt;camel-scala_2.9&lt;/artifactId&gt;
  &lt;version&gt;2.11.x&lt;/version&gt;
  &lt;!-- use the same version as your Camel core version --&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Support for Scala 2.9 is deprecated and will be removed starting from
the Camel 2.12 and 3.0.</p>
</div>
</div>
</div>

    
<footer class='entry-footer'>
  
    
  
</footer>


  </article>

  
    
<nav class='entry-nav'>
  <div class='entry-nav-links'><div class='prev-entry'>
      <a href='https://camel.apache.org/components/2.20.0/schematron-component/'>
        <span aria-hidden='true'><svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="20" y1="12" x2="4" y2="12"/>
  <polyline points="10 18 4 12 10 6"/>
  
</svg>
 Previous</span>
        <span class='screen-reader'>Previous post: </span></a>
    </div><div class='next-entry'>
      <a href='https://camel.apache.org/components/2.20.0/scala-supported-languages/'>
        <span class='screen-reader'>Next post: </span><span aria-hidden='true'>Next <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="4" y1="12" x2="20" y2="12"/>
  <polyline points="14 6 20 12 14 18"/>
  
</svg>
</span>
      </a>
    </div></div>
</nav>


  

  
    <div class='comments-container'>
  
</div>

  
</main>

    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <div class='social'>
          <nav aria-label='Social Menu'>
  <ul class='social-menu'>
  
  </ul>
</nav>

        </div>

        <div class='copyright'>
          <p>
    
      
    
  
  &copy; 2004-2018 The Apache Software Foundation.
</p>
<p>
  Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>

        </div>
      </div>
    </footer>

  </div>

  <script src='/js/site.36395d52b78f93dc7cc7.js'></script>
  

</body>

</html>

