<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='Gora Component Available as of Camel version 2.14
 Camel-Gora is an Apache Camel component that allows you to work with NoSQL databases using the Apache Gora framework.
 Maven users will need to add the following dependency to their pom.xml for this component:
 &lt;dependency&gt; &lt;groupId&gt;org.apache.camel&lt;/groupId&gt; &lt;artifactId&gt;camel-gora&lt;/artifactId&gt; &lt;version&gt;x.x.x&lt;/version&gt; &lt;!-- use the same version as your Camel core version --&gt; &lt;/dependency&gt;   Apache Gora Overview The Apache Gora open source framework provides an in-memory data model and persistence for big data.'>

<meta property='og:title' content=' • Apache Camel: Integration that you want'>
<meta property='og:description' content='Gora Component Available as of Camel version 2.14
 Camel-Gora is an Apache Camel component that allows you to work with NoSQL databases using the Apache Gora framework.
 Maven users will need to add the following dependency to their pom.xml for this component:
 &lt;dependency&gt; &lt;groupId&gt;org.apache.camel&lt;/groupId&gt; &lt;artifactId&gt;camel-gora&lt;/artifactId&gt; &lt;version&gt;x.x.x&lt;/version&gt; &lt;!-- use the same version as your Camel core version --&gt; &lt;/dependency&gt;   Apache Gora Overview The Apache Gora open source framework provides an in-memory data model and persistence for big data.'>
<meta property='og:url' content='https://camel.apache.org/components/2.20.0/gora-component/'>
<meta property='og:site_name' content='Apache Camel: Integration that you want'>
<meta property='og:type' content='article'><meta property='article:section' content='Components'>

  <base href='https://camel.apache.org/'>
  <title> • Apache Camel: Integration that you want</title>
  <link rel='canonical' href='https://camel.apache.org/components/2.20.0/gora-component/'>
  <link href='' rel='alternate' type='application/rss+xml' title='Apache Camel: Integration that you want' />
  <link rel='icon' href='/favicon.ico'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/site.142da777720723dd4ecadc8e70926967.css'>



</head>


<body class='page'>
  <div class='u-full-width u-max-full-width container'>
    <header class='header'>
      <div class='site-header'>
        
        <p class='title'>Apache Camel: Integration that you want</p>
        
        <p>Apache Camel framework for easy integration</p>
      </div>
    </header>

    <nav class='navbar' aria-label='Main Menu'>
  <div class='container'>
    <ul class='navbar-list'>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/about/'>About</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/blog/'>News</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/getting-started/'>Getting started</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/manual/'>Manual</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/components/'>Components</a>
      </li>
      
    </ul>
  </div>
</nav>



<main class='row content'>
  <article lang='en' class='entry'>
    <header class='entry-header'>
  <div class='entry-info'>
    <h1 class='entry-title title'></h1>
    
  </div>
  
<div class='meta'>
  <span class='posted-on'>
    <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
  <line x1="16" y1="2" x2="16" y2="6"/>
  <line x1="8" y1="2" x2="8" y2="6"/>
  <line x1="3" y1="10" x2="21" y2="10"/>
  
</svg>

    <span class='screen-reader'>Posted on </span>
    <time class='date' datetime='0001-01-01T00:00:00Z'>0001, Jan 01</time>
  </span>
  
</div>


</header>

    <div class='entry-content'>
  <div class="sect1">
<h2 id="_gora_component">Gora Component</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Available as of Camel version 2.14</strong></p>
</div>
<div class="paragraph">
<p><strong>Camel-Gora</strong> is an <a href="http://camel.apache.org/">Apache Camel</a> component that
allows you to work with NoSQL databases using the
<a href="http://gora.apache.org/">Apache Gora</a> framework.</p>
</div>
<div class="paragraph">
<p>Maven users will need to add the following dependency to their pom.xml
for this component:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;dependency&gt;
 &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
 &lt;artifactId&gt;camel-gora&lt;/artifactId&gt;
 &lt;version&gt;x.x.x&lt;/version&gt;
 &lt;!-- use the same version as your Camel core version --&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
<div class="sect2">
<h3 id="_apache_gora_overview">Apache Gora Overview</h3>
<div class="paragraph">
<p>The <a href="http://gora.apache.org/">Apache Gora</a> open source framework provides
an in-memory data model and persistence for big data. Gora supports
persisting to column stores, key value stores, document stores and
RDBMSs, and analyzing the data with extensive
<a href="http://hadoop.apache.org/">Apache Hadoop™ MapReduce</a> support. Gora uses
the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache Software
License v2.0</a> and graduated from the Apache Incubator in Janauary 2012
to become a top-level Apache project.</p>
</div>
<div class="paragraph">
<p>Apache Gora currently supports the following datastores:
<a href="http://hbase.apache.org/">Apache HBase</a>,
<a href="http://cassandra.apache.org/">Apache Cassandra</a>,
<a href="http://accumulo.apache.org/">Apache Accumulo</a>,
<a href="http://aws.amazon.com/dynamodb/">Amazon DynamoDB</a> and SQL databases such
as <a href="http://hsqldb.org/">hsqldb</a>, <a href="http://www.mysql.com/">MySQL</a> and more.</p>
</div>
</div>
<div class="sect2">
<h3 id="_uri_format">URI format</h3>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-text" data-lang="text">gora:instanceName[?options]</code></pre>
</div>
</div>
<div class="paragraph">
<p>Hbase examples with mandatory options :</p>
</div>
<div class="paragraph">
<p><em>XML</em></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;to uri="gora:foobar?keyClass=java.lang.Long&amp;amp;valueClass=org.apache.camel.component.gora.generated.Pageview&amp;amp;dataStoreClass=org.apache.gora.hbase.store.HBaseStore"/&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p><em>Java DSL</em></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">to("gora:foobar?keyClass=java.lang.Long&amp;valueClass=org.apache.camel.component.gora.generated.Pageview&amp;dataStoreClass=org.apache.gora.hbase.store.HBaseStore")</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_configuratiion">Configuratiion</h3>
<div class="paragraph">
<p>Using camel-gora needs some configuration. This mainly involve to
configure the <em>AvroStore</em> through the <em>gora.properties</em> file and to
define the relevant mappings as part of the
<em><a href="http://gora.apache.org/current/gora-core.html">gora-core</a></em> module.</p>
</div>
<div class="paragraph">
<p>Extensive information for this configuration can be found in the apache
<a href="http://gora.apache.org/current/index.html">gora documentation</a> and the
<a href="http://gora.apache.org/current/gora-conf.html">gora-conf</a> page.</p>
</div>
</div>
<div class="sect2">
<h3 id="_options">Options</h3>
<div class="paragraph">
<p>The Gora component has no options.</p>
</div>
<div class="paragraph">
<p>The Gora endpoint is configured using URI syntax:</p>
</div>
<div class="literalblock">
<div class="content">
<pre>gora:name</pre>
</div>
</div>
<div class="paragraph">
<p>with the following path and query parameters:</p>
</div>
<div class="sect3">
<h4 id="_path_parameters_1_parameters">Path Parameters (1 parameters):</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Required</strong> Instance name</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_query_parameters_21_parameters">Query Parameters (21 parameters):</h4>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 50%;">
<col style="width: 10%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Name</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-center valign-top">Default</th>
<th class="tableblock halign-left valign-top">Type</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>dataStoreClass</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The type of the dataStore</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>keyClass</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The type class of the key</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>valueClass</strong> (common)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The type of the value</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bridgeErrorHandler</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allows for bridging the consumer to the Camel routing Error Handler which mean any exceptions occurred while the consumer is trying to pickup incoming messages or the likes will now be processed as a message and handled by the routing Error Handler. By default the consumer will use the org.apache.camel.spi.ExceptionHandler to deal with exceptions that will be logged at WARN or ERROR level and ignored.</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>concurrentConsumers</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of concurrent consumers</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">int</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>endKey</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The End Key</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Object</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>endTime</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The End Time</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">long</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>fields</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Fields</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Strings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>keyRangeFrom</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Key Range From</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Object</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>keyRangeTo</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Key Range To</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Object</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>limit</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Limit</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">long</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>startKey</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Start Key</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Object</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>startTime</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Start Time</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">long</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>timeRangeFrom</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Time Range From</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">long</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>timeRangeTo</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Time Range To</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">long</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>timestamp</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Timestamp</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">long</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>exceptionHandler</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To let the consumer use a custom ExceptionHandler. Notice if the option bridgeErrorHandler is enabled then this options is not in use. By default the consumer will deal with exceptions that will be logged at WARN or ERROR level and ignored.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ExceptionHandler</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>exchangePattern</strong> (consumer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets the exchange pattern when the consumer creates an exchange.</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ExchangePattern</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>flushOnEveryOperation</strong> (producer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flush on every operation</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">true</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>hadoopConfiguration</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hadoop Configuration</p></td>
<td class="tableblock halign-center valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Configuration</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>synchronous</strong> (advanced)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets whether synchronous processing should be strictly used or Camel is allowed to use asynchronous processing (if supported).</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">false</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="_supported_gora_operations">Supported Gora Operations</h3>
<div class="paragraph">
<p>Supported operations include : <strong>put</strong>, <strong>get</strong>, <strong>delete</strong>, <strong>getSchemaName</strong>,
<strong>deleteSchema</strong>, <strong>createSchema</strong>, <strong>query</strong>, <strong>deleteByQuery</strong>,
<strong>schemaExists</strong>.</p>
</div>
<div class="paragraph">
<p>Some of the operations require arguments while some others no. The
arguments to operations could be either the <em>body</em> of the <em>in</em> message
or defined in a header property. Below there is a list with some
additional info for each operation.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 10%;">
<col style="width: 90%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Property</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">put</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Inserts the persistent object with the given key.</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">get</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Returns the object corresponding to the given key fetching all the
fields.</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">delete</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Deletes the object with the given key.</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">getSchemaName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Returns the schema name given to this DataStore.</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deleteSchema</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Deletes the underlying schema or table (or similar) in the datastore
that holds the objects.</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createSchema</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Creates the optional schema or table (or similar) in the datastore to
hold the objects.</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">query</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Executes the given query and returns the results.</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deleteByQuery</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Deletes all the objects matching the query.</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">schemaExists</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Returns whether the schema that holds the data exists in the
datastore.</em></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_gora_headers">Gora Headers</h3>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Property</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">GoraOperation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Used in order to define the operation to execute.</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">GoraKey</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Used in order to define the datum key for the operations need it.</em></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_usage_examples">Usage examples</h3>
<div class="paragraph">
<p><strong>Create Schema</strong> <em>(XML DSL)</em>:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;setHeader headerName="GoraOperation"&gt;
 &lt;constant&gt;CreateSchema&lt;/constant&gt;
&lt;/setHeader&gt;
&lt;to uri="gora:foobar?keyClass=java.lang.Long&amp;amp;valueClass=org.apache.camel.component.gora.generated.Pageview&amp;amp;dataStoreClass=org.apache.gora.hbase.store.HBaseStore"/&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>SchemaExists</strong> <em>(XML DSL)</em>:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;setHeader headerName="GoraOperation"&gt;
 &lt;constant&gt;SchemaExists&lt;/constant&gt;
&lt;/setHeader&gt;
 &lt;to uri="gora:foobar?keyClass=java.lang.Long&amp;amp;valueClass=org.apache.camel.component.gora.generated.Pageview&amp;amp;dataStoreClass=org.apache.gora.hbase.store.HBaseStore"/&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Put</strong> <em>(XML DSL)</em>:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;setHeader headerName="GoraOperation"&gt;
 &lt;constant&gt;put&lt;/constant&gt;
&lt;/setHeader&gt;
&lt;setHeader headerName="GoraKey"&gt;
 &lt;constant&gt;22222&lt;/constant&gt;
&lt;/setHeader&gt;
&lt;to uri="gora:foo?keyClass=java.lang.Long&amp;amp;valueClass=org.apache.camel.component.gora.generated.Pageview&amp;amp;dataStoreClass=org.apache.gora.hbase.store.HBaseStore"/&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Get</strong> <em>(XML DSL)</em>:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;setHeader headerName="GoraOperation"&gt;
 &lt;constant&gt;GET&lt;/constant&gt;
&lt;/setHeader&gt;
&lt;setHeader headerName="GoraKey"&gt;
 &lt;constant&gt;10101&lt;/constant&gt;
&lt;/setHeader&gt;
&lt;to uri="gora:bar?keyClass=java.lang.Long&amp;amp;valueClass=org.apache.camel.component.gora.generated.Pageview&amp;amp;dataStoreClass=org.apache.gora.hbase.store.HBaseStore"/&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Delete</strong> <em>(XML DSL)</em>:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;setHeader headerName="GoraOperation"&gt;
 &lt;constant&gt;DELETE&lt;/constant&gt;
&lt;/setHeader&gt;
&lt;setHeader headerName="GoraKey"&gt;
 &lt;constant&gt;22222&lt;/constant&gt;
&lt;/setHeader&gt;
&lt;to uri="gora:bar?keyClass=java.lang.Long&amp;amp;valueClass=org.apache.camel.component.gora.generated.Pageview&amp;amp;dataStoreClass=org.apache.gora.hbase.store.HBaseStore"/&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Query</strong> <em>(XML DSL)</em>:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;to uri="gora:foobar?keyClass=java.lang.Long&amp;amp;valueClass=org.apache.camel.component.gora.generated.Pageview&amp;amp;dataStoreClass=org.apache.gora.hbase.store.HBaseStore"/&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>The full usage examples in the form of integration tests can be found at
<a href="https://github.com/ipolyzos/camel-gora-examples/">camel-gora-examples</a>
repository.</p>
</div>
</div>
<div class="sect2">
<h3 id="_more_resources">More resources</h3>
<div class="paragraph">
<p>For more please information and in depth configuration refer to the
<a href="http://gora.apache.org/current/overview.html">Apache Gora Documentation</a>
and the <a href="http://gora.apache.org/current/tutorial.html">Apache Gora
Tutorial</a>.</p>
</div>
</div>
</div>
</div>
</div>

    
<footer class='entry-footer'>
  
    
  
</footer>


  </article>

  
    
<nav class='entry-nav'>
  <div class='entry-nav-links'><div class='prev-entry'>
      <a href='https://camel.apache.org/components/2.20.0/grape-component/'>
        <span aria-hidden='true'><svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="20" y1="12" x2="4" y2="12"/>
  <polyline points="10 18 4 12 10 6"/>
  
</svg>
 Previous</span>
        <span class='screen-reader'>Previous post: </span></a>
    </div><div class='next-entry'>
      <a href='https://camel.apache.org/components/2.20.0/google-pubsub-component/'>
        <span class='screen-reader'>Next post: </span><span aria-hidden='true'>Next <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="4" y1="12" x2="20" y2="12"/>
  <polyline points="14 6 20 12 14 18"/>
  
</svg>
</span>
      </a>
    </div></div>
</nav>


  

  
    <div class='comments-container'>
  
</div>

  
</main>

    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <div class='social'>
          <nav aria-label='Social Menu'>
  <ul class='social-menu'>
  
  </ul>
</nav>

        </div>

        <div class='copyright'>
          <p>
    
      
    
  
  &copy; 2004-2018 The Apache Software Foundation.
</p>
<p>
  Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>

        </div>
      </div>
    </footer>

  </div>

  <script src='/js/site.36395d52b78f93dc7cc7.js'></script>
  

</body>

</html>

