<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='Blueprint Testing Available as of Camel 2.10
 camel-test-blueprint does only support testing one CamelContext. So if you have two or more CamelContexts in your blueprint XML files, then only the CamelContext first found is used during testing.
 Testing is a crucial part of any development or integration work. Camel supports the definition of Blueprint routes, but given that Blueprint is an OSGi specific technology, writing unit tests is quite difficult.'>

<meta property='og:title' content=' • Apache Camel: Integration that you want'>
<meta property='og:description' content='Blueprint Testing Available as of Camel 2.10
 camel-test-blueprint does only support testing one CamelContext. So if you have two or more CamelContexts in your blueprint XML files, then only the CamelContext first found is used during testing.
 Testing is a crucial part of any development or integration work. Camel supports the definition of Blueprint routes, but given that Blueprint is an OSGi specific technology, writing unit tests is quite difficult.'>
<meta property='og:url' content='https://camel.apache.org/components/2.20.0/test-blueprint/'>
<meta property='og:site_name' content='Apache Camel: Integration that you want'>
<meta property='og:type' content='article'><meta property='article:section' content='Components'>

  <base href='https://camel.apache.org/'>
  <title> • Apache Camel: Integration that you want</title>
  <link rel='canonical' href='https://camel.apache.org/components/2.20.0/test-blueprint/'>
  <link href='' rel='alternate' type='application/rss+xml' title='Apache Camel: Integration that you want' />
  <link rel='icon' href='/favicon.ico'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/site.142da777720723dd4ecadc8e70926967.css'>



</head>


<body class='page'>
  <div class='u-full-width u-max-full-width container'>
    <header class='header'>
      <div class='site-header'>
        
        <p class='title'>Apache Camel: Integration that you want</p>
        
        <p>Apache Camel framework for easy integration</p>
      </div>
    </header>

    <nav class='navbar' aria-label='Main Menu'>
  <div class='container'>
    <ul class='navbar-list'>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/about/'>About</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/blog/'>News</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/getting-started/'>Getting started</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/manual/'>Manual</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/components/'>Components</a>
      </li>
      
    </ul>
  </div>
</nav>



<main class='row content'>
  <article lang='en' class='entry'>
    <header class='entry-header'>
  <div class='entry-info'>
    <h1 class='entry-title title'></h1>
    
  </div>
  
<div class='meta'>
  <span class='posted-on'>
    <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
  <line x1="16" y1="2" x2="16" y2="6"/>
  <line x1="8" y1="2" x2="8" y2="6"/>
  <line x1="3" y1="10" x2="21" y2="10"/>
  
</svg>

    <span class='screen-reader'>Posted on </span>
    <time class='date' datetime='0001-01-01T00:00:00Z'>0001, Jan 01</time>
  </span>
  
</div>


</header>

    <div class='entry-content'>
  <div class="sect1">
<h2 id="_blueprint_testing">Blueprint Testing</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Available as of Camel 2.10</strong></p>
</div>
<div class="paragraph">
<p>camel-test-blueprint does only support testing <em>one</em> CamelContext. So
if you have two or more CamelContexts in your blueprint XML files, then
only the CamelContext first found is used during testing.</p>
</div>
<div class="paragraph">
<p><a href="testing.html">Testing</a> is a crucial part of any development or
integration work. Camel supports the definition of
<a href="using-osgi-blueprint-with-camel.html">Blueprint routes</a>, but given
that Blueprint is an OSGi specific technology, writing unit tests is
quite difficult. This library leverages
<a href="http://code.google.com/p/pojosr/">PojoSR</a> (now Felix Connect) which
provides a service registry without using a fully compliant OSGi
container. This allows defining real unit tests (as opposed to
integration tests using
<a href="http://team.ops4j.org/wiki/display/paxexam/Pax+Exam">Pax Exam</a>. Please
make sure all test jars in your classpath are OSGi bundles.</p>
</div>
<div class="paragraph">
<p>Also notice the use of <strong><code>getBlueprintDescriptor</code></strong> to specify the
location of the OSGi Blueprint XML file.<br>
 If you have multiple OSGi Blueprint XML files, then you can specify
them with a comma-separated list in the <strong><code>getBlueprintDescriptor</code></strong>
method.</p>
</div>
<div class="paragraph">
<p>Here&#8217;s the
<a href="http://svn.apache.org/viewvc/camel/trunk/components/camel-test-blueprint/src/test/resources/org/apache/camel/test/blueprint/camelContext.xml?view=markup">Blueprint
XML file</a>:</p>
</div>
<div class="paragraph">
<p>In order to define blueprint tests, add the following dependency to your
pom:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;dependency&gt;
  &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
  &lt;artifactId&gt;camel-test-blueprint&lt;/artifactId&gt;
  &lt;version&gt;2.10&lt;/version&gt;
  &lt;scope&gt;test&lt;/scope&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
<div class="sect2">
<h3 id="_classpath_scanning">Classpath scanning</h3>
<div class="paragraph">
<p>By default PojoSR test container scans the test classpath for all the
OSGi bundles available there. All the bundles with Blueprint descriptor
files will be automatically started by the test container. If you would
like to prevent particular bundles from being started by the test
container, override the <code>getBundleFilter</code> method, just as demonstrated
in the snippet below.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">@Override
protected String getBundleFilter() {
  // I don't want test container to scan and load Logback bundle during the test
  return "(!(Bundle-SymbolicName=ch.qos.logback.core))";
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>Keep in mind that not specifying the Blueprint descriptor in the
getBlueprintDescriptor method will not prevent the test container from
loading a given descriptor. The <code>getBundleFilter</code> method is the proper
way of filtering out bundles you don&#8217;t want to start during the test.</p>
</div>
</div>
<div class="sect2">
<h3 id="_setting_timeout_when_getting_camelcontext">Setting timeout when getting CamelContext</h3>
<div class="paragraph">
<p><strong>Available as of Camel 2.13.0/2.12.1/2.11.2</strong></p>
</div>
<div class="paragraph">
<p><code>CamelBlueprintTestSupport</code> waits 30 seconds for Camel Context to be
ready by default, now you can override this value in two ways:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Globally, by setting
<code>org.apache.camel.test.blueprint.camelContextCreationTimeout</code> system
property.</p>
</li>
<li>
<p>Locally for each test, by overriding <em>getCamelContextCreationTimeout</em>
method.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_adding_services_on_startup">Adding services on startup</h3>
<div class="paragraph">
<p><strong>Available as of Camel 2.11.2/2.12.0</strong></p>
</div>
<div class="paragraph">
<p>When using <code>camel-test-blueprint</code> you may do unit tests which requires
using shared services which are not available during unit testing, but
only in the real OSGi container, for example a shared <code>DataSource</code>.</p>
</div>
<div class="paragraph">
<p>To make it easier to register services on startup, such as a standalone
<code>DataSource</code> or any other service, you can override the method
<code>addServicesOnStartup</code> when your unit test class extends
<code>CamelBlueprintTestSupport</code>.</p>
</div>
<div class="paragraph">
<p>In the example below we register a service
<code>org.apache.camel.test.blueprint.MyService</code> using the name <code>myService</code>
having a property <code>beer=Carlsberg</code>, as shown below:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">    @Override
    protected void addServicesOnStartup(Map&lt;String, KeyValueHolder&lt;Object, Dictionary&gt;&gt; services) {
        services.put("myService", asService(myService, "beer", "Carlsberg"));
    }</code></pre>
</div>
</div>
<div class="paragraph">
<p>The asService is a builder method that makes it easy to register a
service with a single property. If you need more properties you can use
the <code>asService</code> method that takes a <code>Dictionary</code> as argument. And if you
do not need any properties, then just pass in <code>null</code>, eg:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">services.put("myService", asService(myService, null));</code></pre>
</div>
</div>
<div class="paragraph">
<p>This allows us to use the service by calling a method on it from a Camel
<a href="bean.html">Bean</a> component in a route as shown:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">    &lt;route&gt;
      &lt;from uri="direct:start"/&gt;
      &lt;to uri="bean:myService"/&gt;
      &lt;to uri="mock:result"/&gt;
    &lt;/route&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Notice the bean endpoint uses the service name <code>myService</code> which was the
name we registered the service as. You can also use the fully qualified
class name instead, which is more common with OSGi.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">    @Override
    protected void addServicesOnStartup(Map&lt;String, KeyValueHolder&lt;Object, Dictionary&gt;&gt; services) {
        services.put(MyService.class.getName(), asService(myService, "beer", "Carlsberg"));
    }</code></pre>
</div>
</div>
<div class="paragraph">
<p>And in the route we use the FQN name:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">    &lt;route&gt;
      &lt;from uri="direct:start"/&gt;
      &lt;to uri="bean:org.apache.camel.test.blueprint.MyService"/&gt;
      &lt;to uri="mock:result"/&gt;
    &lt;/route&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>From <strong>Camel 2.16.0</strong>, an additional <code>addServicesOnStartup</code> method is
available to be overridden making it ideal for when needing to specify
multiple services with the same interface.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-java" data-lang="java">  @Override
  protected void addServicesOnStartup(List&lt;KeyValueHolder&lt;String, KeyValueHolder&lt;Object, Dictionary&gt;&gt;&gt; services) {
      Dictionary&lt;String, String&gt; dict1 = new Hashtable&lt;String, String&gt;();
      dict1.put("osgi.jndi.service.name", "jdbc/db1");

      Dictionary&lt;String, String&gt; dict2 = new Hashtable&lt;String, String&gt;();
      dict2.put("osgi.jndi.service.name", "jdbc/db2");

      services.add(asKeyValueService(javax.sql.DataSource.class.getName(), mockService1, dict1));
      services.add(asKeyValueService(javax.sql.DataSource.class.getName(), mockService2, dict2));
    }</code></pre>
</div>
</div>
<div class="paragraph">
<p>The <code>asKeyValueService</code> builder method can be used to construct the
necessary parameters to create the service. The method takes in the name
of the registered service, the object, and and a <code>Dictionary</code> as
arguments.</p>
</div>
</div>
</div>
</div>
</div>

    
<footer class='entry-footer'>
  
    
  
</footer>


  </article>

  
    
<nav class='entry-nav'>
  <div class='entry-nav-links'><div class='prev-entry'>
      <a href='https://camel.apache.org/components/2.20.0/test-cdi/'>
        <span aria-hidden='true'><svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="20" y1="12" x2="4" y2="12"/>
  <polyline points="10 18 4 12 10 6"/>
  
</svg>
 Previous</span>
        <span class='screen-reader'>Previous post: </span></a>
    </div><div class='next-entry'>
      <a href='https://camel.apache.org/components/2.20.0/terser-language/'>
        <span class='screen-reader'>Next post: </span><span aria-hidden='true'>Next <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="4" y1="12" x2="20" y2="12"/>
  <polyline points="14 6 20 12 14 18"/>
  
</svg>
</span>
      </a>
    </div></div>
</nav>


  

  
    <div class='comments-container'>
  
</div>

  
</main>

    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <div class='social'>
          <nav aria-label='Social Menu'>
  <ul class='social-menu'>
  
  </ul>
</nav>

        </div>

        <div class='copyright'>
          <p>
    
      
    
  
  &copy; 2004-2018 The Apache Software Foundation.
</p>
<p>
  Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>

        </div>
      </div>
    </footer>

  </div>

  <script src='/js/site.36395d52b78f93dc7cc7.js'></script>
  

</body>

</html>

