<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='LevelDB Available as of Camel 2.10
 Leveldb is a very lightweight and embedable key value database. It allows together with Camel to provide persistent support for various Camel features such as Aggregator.
 Current features it provides:
   LevelDBAggregationRepository
   Using LevelDBAggregationRepository LevelDBAggregationRepository is an AggregationRepository which on the fly persists the aggregated messages. This ensures that you will not loose messages, as the default aggregator will use an in memory only AggregationRepository.'>

<meta property='og:title' content=' • Apache Camel: Integration that you want'>
<meta property='og:description' content='LevelDB Available as of Camel 2.10
 Leveldb is a very lightweight and embedable key value database. It allows together with Camel to provide persistent support for various Camel features such as Aggregator.
 Current features it provides:
   LevelDBAggregationRepository
   Using LevelDBAggregationRepository LevelDBAggregationRepository is an AggregationRepository which on the fly persists the aggregated messages. This ensures that you will not loose messages, as the default aggregator will use an in memory only AggregationRepository.'>
<meta property='og:url' content='https://camel.apache.org/components/2.20.0/leveldb/'>
<meta property='og:site_name' content='Apache Camel: Integration that you want'>
<meta property='og:type' content='article'><meta property='article:section' content='Components'>

  <base href='https://camel.apache.org/'>
  <title> • Apache Camel: Integration that you want</title>
  <link rel='canonical' href='https://camel.apache.org/components/2.20.0/leveldb/'>
  <link href='' rel='alternate' type='application/rss+xml' title='Apache Camel: Integration that you want' />
  <link rel='icon' href='/favicon.ico'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/site.142da777720723dd4ecadc8e70926967.css'>



</head>


<body class='page'>
  <div class='u-full-width u-max-full-width container'>
    <header class='header'>
      <div class='site-header'>
        
        <p class='title'>Apache Camel: Integration that you want</p>
        
        <p>Apache Camel framework for easy integration</p>
      </div>
    </header>

    <nav class='navbar' aria-label='Main Menu'>
  <div class='container'>
    <ul class='navbar-list'>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/'>Home</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/about/'>About</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/blog/'>News</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/getting-started/'>Getting started</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/manual/'>Manual</a>
      </li>
      
      <li class='navbar-item'>
        <a class='navbar-link' href='/components/'>Components</a>
      </li>
      
    </ul>
  </div>
</nav>



<main class='row content'>
  <article lang='en' class='entry'>
    <header class='entry-header'>
  <div class='entry-info'>
    <h1 class='entry-title title'></h1>
    
  </div>
  
<div class='meta'>
  <span class='posted-on'>
    <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
  <line x1="16" y1="2" x2="16" y2="6"/>
  <line x1="8" y1="2" x2="8" y2="6"/>
  <line x1="3" y1="10" x2="21" y2="10"/>
  
</svg>

    <span class='screen-reader'>Posted on </span>
    <time class='date' datetime='0001-01-01T00:00:00Z'>0001, Jan 01</time>
  </span>
  
</div>


</header>

    <div class='entry-content'>
  <div class="sect2">
<h3 id="LevelDB-LevelDB">LevelDB</h3>
<div class="paragraph">
<p><strong>Available as of Camel 2.10</strong></p>
</div>
<div class="paragraph">
<p><a href="https://code.google.com/p/leveldb/">Leveldb</a> is a very lightweight and
embedable key value database. It allows together with Camel to provide
persistent support for various Camel features such as
<a href="aggregator2.html">Aggregator</a>.</p>
</div>
<div class="paragraph">
<p>Current features it provides:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>LevelDBAggregationRepository</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="LevelDB-UsingLevelDBAggregationRepository">Using LevelDBAggregationRepository</h4>
<div class="paragraph">
<p><code>LevelDBAggregationRepository</code> is an <code>AggregationRepository</code> which on
the fly persists the aggregated messages. This ensures that you will not
loose messages, as the default aggregator will use an in memory only
<code>AggregationRepository</code>.</p>
</div>
<div class="paragraph">
<p>It has the following options:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 10%;">
<col style="width: 10%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>repositoryName</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A mandatory repository name. Allows you to use a shared <code>LevelDBFile</code>
for multiple repositories.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>persistentFileName</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filename for the persistent storage. If no file exists on startup a new
file is created.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>levelDBFile</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">LevelDBFile</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use an existing configured
<code>org.apache.camel.component.leveldb.LevelDBFile</code> instance.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>sync</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Camel 2.12:</strong> Whether or not the LevelDBFile should sync on write or
not. Default is false. By sync on write ensures that its always waiting
for all writes to be spooled to disk and thus will not loose updates.
See <a href="http://leveldb.googlecode.com/svn/trunk/doc/index.html">LevelDB docs</a>
for more details about async vs sync writes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>returnOldExchange</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether the get operation should return the old existing Exchange if any
existed. By default this option is <code>false</code> to optimize as we do not need
the old exchange when aggregating.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>useRecovery</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">boolean</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whether or not recovery is enabled. This option is by default <code>true</code>.
When enabled the Camel <a href="aggregator2.html">Aggregator</a> automatic
recover failed aggregated exchange and have them resubmitted.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>recoveryInterval</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">long</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If recovery is enabled then a background task is run every x&#8217;th time to
scan for failed exchanges to recover and resubmit. By default this
interval is 5000 millis.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>maximumRedeliveries</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">int</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allows you to limit the maximum number of redelivery attempts for a
recovered exchange. If enabled then the Exchange will be moved to the
dead letter channel if all redelivery attempts failed. By default this
option is disabled. If this option is used then the <code>deadLetterUri</code>
option must also be provided.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>deadLetterUri</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">String</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">An endpoint uri for a <a href="dead-letter-channel.html">Dead Letter Channel</a>
where exhausted recovered Exchanges will be moved. If this option is
used then the <code>maximumRedeliveries</code> option must also be provided.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>The <code>repositoryName</code> option must be provided. Then either the
<code>persistentFileName</code> or the <code>levelDBFile</code> must be provided.</p>
</div>
</div>
<div class="sect3">
<h4 id="LevelDB-Whatispreservedwhenpersisting">What is preserved when persisting</h4>
<div class="paragraph">
<p><code>LevelDBAggregationRepository</code> will only preserve any <code>Serializable</code>
compatible message body data types. Message headers must be primitive /
string / numbers / etc. If a data type is not such a type its dropped
and a <code>WARN</code> is logged. And it only persists the <code>Message</code> body and the
<code>Message</code> headers. The <code>Exchange</code> properties are <strong>not</strong> persisted.</p>
</div>
</div>
<div class="sect3">
<h4 id="LevelDB-Recovery">Recovery</h4>
<div class="paragraph">
<p>The <code>LevelDBAggregationRepository</code> will by default recover any failed
<a href="exchange.html">Exchange</a>. It does this by having a background tasks
that scans for failed <a href="exchange.html">Exchange</a>s in the persistent
store. You can use the <code>checkInterval</code> option to set how often this task
runs. The recovery works as transactional which ensures that Camel will
try to recover and redeliver the failed <a href="exchange.html">Exchange</a>.
Any <a href="exchange.html">Exchange</a> which was found to be recovered will be
restored from the persistent store and resubmitted and send out again.</p>
</div>
<div class="paragraph">
<p>The following headers is set when an <a href="exchange.html">Exchange</a> is
being recovered/redelivered:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 10%;">
<col style="width: 10%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Header</th>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Exchange.REDELIVERED</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Boolean</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is set to true to indicate the <a href="exchange.html">Exchange</a> is being
redelivered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Exchange.REDELIVERY_COUNTER</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Integer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The redelivery attempt, starting from 1.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Only when an <a href="exchange.html">Exchange</a> has been successfully
processed it will be marked as complete which happens when the <code>confirm</code>
method is invoked on the <code>AggregationRepository</code>. This means if the same
<a href="exchange.html">Exchange</a> fails again it will be kept retried until
it success.</p>
</div>
<div class="paragraph">
<p>You can use option <code>maximumRedeliveries</code> to limit the maximum number of
redelivery attempts for a given recovered <a href="exchange.html">Exchange</a>.
You must also set the <code>deadLetterUri</code> option so Camel knows where to
send the <a href="exchange.html">Exchange</a> when the <code>maximumRedeliveries</code> was
hit.</p>
</div>
<div class="paragraph">
<p>You can see some examples in the unit tests of camel-leveldb, for
example
<a href="https://svn.apache.org/repos/asf/camel/trunk/components/camel-leveldb/src/test/java/org/apache/camel/component/leveldb/LevelDBAggregateRecoverTest.java">this
test</a>.</p>
</div>
<div class="sect4">
<h5 id="LevelDB-UsingLevelDBAggregationRepositoryinJavaDSL">Using LevelDBAggregationRepository in Java DSL</h5>
<div class="paragraph">
<p>In this example we want to persist aggregated messages in the
<code>target/data/leveldb.dat</code> file.</p>
</div>
</div>
<div class="sect4">
<h5 id="LevelDB-UsingLevelDBAggregationRepositoryinSpringXML">Using LevelDBAggregationRepository in Spring XML</h5>
<div class="paragraph">
<p>The same example but using Spring XML instead:</p>
</div>
</div>
</div>
<div class="sect3">
<h4 id="LevelDB-Dependencies">Dependencies</h4>
<div class="paragraph">
<p>To use <a href="leveldb.html">LevelDB</a> in your camel routes you need to add
the a dependency on <strong>camel-leveldb</strong>.</p>
</div>
<div class="paragraph">
<p>If you use maven you could just add the following to your pom.xml,
substituting the version number for the latest &amp; greatest release (see
<a href="download.html">the download page for the latest versions</a>).</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-xml" data-lang="xml">&lt;dependency&gt;
  &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
  &lt;artifactId&gt;camel-leveldb&lt;/artifactId&gt;
  &lt;version&gt;2.10.0&lt;/version&gt;
&lt;/dependency&gt;</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="LevelDB-SeeAlso">See Also</h4>
<div class="ulist">
<ul>
<li>
<p><a href="configuring-camel.html">Configuring Camel</a></p>
</li>
<li>
<p><a href="component.html">Component</a></p>
</li>
<li>
<p><a href="endpoint.html">Endpoint</a></p>
</li>
<li>
<p><a href="getting-started.html">Getting Started</a></p>
</li>
<li>
<p><a href="aggregator2.html">Aggregator</a></p>
</li>
<li>
<p><a href="hawtdb.html">HawtDB</a></p>
</li>
<li>
<p><a href="components.html">Components</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>

    
<footer class='entry-footer'>
  
    
  
</footer>


  </article>

  
    
<nav class='entry-nav'>
  <div class='entry-nav-links'><div class='prev-entry'>
      <a href='https://camel.apache.org/components/2.20.0/linkedin-component/'>
        <span aria-hidden='true'><svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="20" y1="12" x2="4" y2="12"/>
  <polyline points="10 18 4 12 10 6"/>
  
</svg>
 Previous</span>
        <span class='screen-reader'>Previous post: </span></a>
    </div><div class='next-entry'>
      <a href='https://camel.apache.org/components/2.20.0/ldap-component/'>
        <span class='screen-reader'>Next post: </span><span aria-hidden='true'>Next <svg class='icon' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true'>
  
  <line x1="4" y1="12" x2="20" y2="12"/>
  <polyline points="14 6 20 12 14 18"/>
  
</svg>
</span>
      </a>
    </div></div>
</nav>


  

  
    <div class='comments-container'>
  
</div>

  
</main>

    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <div class='social'>
          <nav aria-label='Social Menu'>
  <ul class='social-menu'>
  
  </ul>
</nav>

        </div>

        <div class='copyright'>
          <p>
    
      
    
  
  &copy; 2004-2018 The Apache Software Foundation.
</p>
<p>
  Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>

        </div>
      </div>
    </footer>

  </div>

  <script src='/js/site.36395d52b78f93dc7cc7.js'></script>
  

</body>

</html>

